@import '../shared/config';

.Container--grid {
  .Widget {
    flex-basis: 200em;
    flex-grow: 1;
    margin: 1rem;
    margin-top: 0;
    max-width: 100%;
    min-width: 20rem;

    &--width-3 {
      max-width: map-get($container-width, 'large');
    }

    &--width-2 {
      max-width: 46rem;
    }

    &--width-1 {
      max-width: 14rem;
    }
  }

  @include smallest-only {
    padding: .75rem;

    .Widget {
      max-width: 100%;
      min-width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.Widget {
  margin: units('medium');

  > .Heading {
    font-weight: bold;
  }

  &__chevron {
    font-size: .7em;
    opacity: .5;
    transition: .1s transform;
  }

  &__description {
    color: color('grey', 'mid-dark');
  }

  &__link {
    &:hover {
      .Widget__chevron {
        transform: translateX(3px);
      }
    }
  }
}
