@import '../../components/shared/config';

.App__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #start-of-content { // sass-lint:disable-line no-ids
    flex: 1;
  }

  .preloader {
    background-color: $background-color;
    opacity: 1;
    top: 0;
    z-index: z(loader);
  }
}

