@import '../../components/shared/config';

.TableFooter {
  color: color('grey', 'mid-dark');

  tr > td {
    &.TableFooterCell {
      padding: units('small', 'large');
      text-align: left;
    }
  }
}
