@import '../shared/config';

.Opinion {
  background-color: $white;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  height: 30px;
  width: 30px;

  &--yes {
    border-color: $green;
    margin-right: 4px;
  }

  &--no {
    border-color: $red;
    margin-left: 4px;
  }
}
