@import '../shared/config';

.Drawer {
  @include small-only {
    bottom: 0;
    left: -100%;
    position: fixed;
    top: 0;
    transition: left 0s;
    transition-delay: .2s;
    width: 100%;
    z-index: $zindex-6;
  }

  @include large {
    display: block;
    margin: 0 2% 0 0;
    width: 24%;
  }
}

@include small-only {
  .Drawer__overlay {
    background-color: $drawer-overlay-background;
    height: 100%;
    opacity: 0;
    transition: opacity .2s, visibility .2s .2s;
    visibility: hidden;
    width: 100%;
    z-index: $zindex-1;
  }

  .Drawer__wrapper {
    background-color: color('white');
    bottom: 0;
    left: -100%;
    position: fixed;
    top: 0;
    transition: left .2s, visibility 0s .2s;
    visibility: hidden;
    width: 330px;
    z-index: $zindex-1;
  }

  .Drawer__container {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 72px;
  }
}

.Drawer--visible {
  left: 0;
  transition: left 0s;

  .Drawer__overlay {
    opacity: 1;
    transition: opacity .2s;
    visibility: visible;
  }

  .Drawer__wrapper {
    left: 0;
    transition: left .2s;
    visibility: visible;
    z-index: $zindex-2;
  }
}

.Drawer__action--close {
  background-color: color('white');
  bottom: 0;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  z-index: $zindex-1;
}
