@import '../shared/config';

.Cover {
  &--lighter {
    background-color: $lightergrey;
    border: 1px solid $border-color;
    border-width: 1px 0;
  }

  &--light {
    background-color: $white;
  }

  &--image {
    background-size: cover;
  }

  &--dark {
    background-color: $blue;
  }

  &--fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: z(cover);
  }

  &--fullscreen {
    display: flex;
    min-height: calc(100vh);
    padding-top: 3em;
  }
}
