@import '../shared/config';

.Container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: units('none', 'small');
  position: relative;
  width: 100%;

  &--spacing-medium {
    padding: units('large', 'small');
  }

  &--spacing-large {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60vh;

    @include small-only {
      max-width: container-width('large');
    }
  }

  &--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;



    .Widget {
      flex-basis: 20em;
      flex-grow: 1;
      margin: 1rem;
      margin-right: 2rem;
      margin-top: 0;
      max-width: 40em;
      min-width: 20rem;
    }

    @include small-only {
      padding: .75rem;

      .Widget {
        min-width: 100%;
      }
    }
  }

  @include large {
    &--spacing-small {
      padding: units('small', 'none');
    }

    &--spacing-medium {
      padding: units('x-large');
    }

    &--spacing-large {
      min-height: 50vh;
    }
  }

  @each $size, $width in $container-width {
    &--size-#{$size} {
      max-width: $width;
    }
  }
}
