@import '../shared/config';

.Container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: 100%;

  &--spacing-large {
    align-items: center;
    display: flex;
    min-height: 60vh;
  }

  @include large {
    padding: 0;

    &--spacing-small {
      padding: 1em 0;
    }

    &--spacing-large {
      min-height: 50vh;
    }
  }

  @each $size, $width in $container-width {
    &--size-#{$size} {
      max-width: $width;
    }
  }
}
