@import "../shared/config.scss";

.Container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;

  &--small {
    max-width: $page-width-small;
  }

  &--medium {
    max-width: $page-width-medium;
  }

  &--large {
    max-width: $page-width-large;
  }

  @include large() {
    padding: 0;
  }
}
