@import '../../../../components/shared/config';

.Volunteer {
  &--contact-options {
    margin-bottom: 1em;
  }

  &--contact-option {
    border: $grey-border;
    display: inline-block;
    border-radius: .5em;
    margin: .1em .2em .1em 0;

    a {
      padding: .3em;
      display: inline-block;

      & + a {
        border-left: $grey-border;
      }

      &:hover {
        box-shadow: inset 0 0 0 999px color('transparent', 'mid-dark');
      }
    }
  }
}
