@import '../shared/config';

.EventItemShow {
  border-bottom: $box-divider;
  padding: unit('x-small') unit('large') 0;
  position: relative;
}

.EventItemShow__index {
  color: color('grey');
  font-size: 1em;
  font-weight: bold;
  left: -.9em;
  position: absolute;
  z-index: 2;
}

.EventItemShow__content {
  padding-bottom: unit('x-small');
}
