@import '../shared/config';

.EventItemShow {
  padding: units('x-small', 'large');
  position: relative;
}

.EventItemShow__index {
  color: color('grey');
  font-size: 1em;
  font-weight: bold;
  left: -.9em;
  position: absolute;
  z-index: 2;
}
