@import '../shared/config';

.EventItemShow {
  padding: units('x-small', 'large');
  padding-bottom: 0;
  position: relative;
  border-bottom: $box-divider;
}

.EventItemShow__index {
  color: color('grey');
  font-size: 1em;
  font-weight: bold;
  left: -.9em;
  position: absolute;
  z-index: 2;
}

.EventItemShow__content {
  padding-bottom: unit('x-small');
}
