@import '../shared/config';

.SideBarLink {
  position: relative;

  a {
    display: flex;
    font-size: 1em;
    padding: .3em 0;

    &:hover,
    &:focus {
      background-color: color('transparent', 'x-light');
    }

    &:active {
      background-color: color('transparent', 'light');
    }

    &::after {
      background-color: none;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: .3em;
    }
  }

  &--bold {
    .SideBarLink__label {
      font-weight: bold;
      padding-left: 2em;
    }
  }
}

.SideBarLink--active {
  &::after {
    background-color: color('transparent', 'mid-light');
  }
}

.SideBarLink__icon,
.SideBarLink__image-wrapper {
  height: 1em;
  padding-left: 2em;
  padding-right: 1em;
  text-align: center;
  width: 1em;
}

.SideBarLink__image {
  background-size: cover;
  border: 1px solid color('grey', 'x-light');
  border-radius: 100%;
  height: 1.5em;
  left: -.2em;
  position: relative;
  width: 1.5em;
}

.SideBarLink__count-wrapper {
  position: absolute;
  right: .5rem;
  top: .35rem;
}
