@import '../shared/config';

@keyframes appear {
  0% { opacity: .1; }
  100% { opacity: 1; }
}

.DonutChart {
  animation: appear 1s;
  margin: 0 auto;

  &__sector {
    cursor: pointer;
  }

  &__label {
    fill: color('dark');
    font-size: 12px;
  }

  &__inner-key {
    fill: color('blue');
    font-size: 20px;
  }

  &__inner-value {
    fill: color('blue', 'light');
    font-size: 13px;
    font-weight: 600;
  }
}
