@import '../shared/config';

.DonutChart {
  &__label {
    background-color: color('blue', 'dark');
    border-radius: $border-radius-base;
    color: color('white');
    padding: .5rem;
  }

  text {
    fill: color('white');
  }
}
