@import '../shared/config';

.VoteChart {
  &__container {
    background-color: $white;
    border-radius: $border-radius-base;
    display: flex;
    height: .3em;
    width: 100%;
  }

  &__fill {
    border-radius: $border-radius-base;
    display: block;
    height: .3em;

    &--pass {
      background-color: $green;
    }

    &--fail {
      background-color: $red;
    }
  }

  &__legend {
    display: flex;
    font-size: $font-size-h6;
    justify-content: space-between;
    margin: $margin-small;
  }
}
