@import '../shared/config';

@keyframes LoadingBackgroundAnimation {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 200px 0;
  }
}

.LoadingSideBarLink {
  align-items: center;
  display: flex;
  height: 2em;

  .Loading__background {
    flex-grow: 1;
    height: 1em;
    margin-left: 2em;
    margin-right: 2.4em;
  }
}

.Loading__Header {
  height: 2em;
  margin-bottom: 1em;
  margin-top: .5em;
  width: 80%;
}

.Loading__Paragraph {
  height: 1em;
  margin-bottom: 1em;

  &--inline {
    display: inline-flex;
    width: 5em;
  }
}

.Loading__Paragraph--micro-row {
  height: .8em;
  margin-bottom: .4em;
  margin-top: .4em;
}

.Loading__Paragraph--detail {
  align-self: center;
  height: 1em;
  margin: 0;
  margin-right: 1em;
  width: 5em;
}

.Loading__Paragraph--shorter {
  height: 1em;
  margin-bottom: 1em;
  width: 70%;
}

.Loading__Paragraph--parent {
  display: inline-block;
  margin-bottom: 0;
  width: 4rem;
}

.Loading__background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: LoadingBackgroundAnimation;
  animation-timing-function: linear;
  background-image: linear-gradient(to right, color('transparent', 'dark') 8%, color('transparent', 'mid-dark') 18%, color('transparent', 'dark') 33%);
  background-size: 400px;
  border-radius: $border-radius-base;
  color: transparent;
  position: relative;
}

.Loading__background--inverse {
  background-image: linear-gradient(to right, color('transparent', 'x-light') 8%, color('transparent', 'mid-light') 18%, color('transparent', 'light') 33%);
}
