@import '../shared/config';

.Omniform__preview {
  background-color: color('grey', 'xx-light');
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  cursor: text;
  display: flex;
  width: 100%;

  &:hover {
    background-color: color('white');
  }

  &-text {
    color: color('grey');
    line-height: 2.4rem;
    padding-left: unit('large');

    .Form__footer-image + & {
      padding-left: .1rem;
    }
  }
}

.Omniform__footer {
  background-color: color('grey', 'xx-light');
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  border-top: solid 1px color('grey', 'x-light');
  display: flex;
  flex-direction: row;

  &-preview-text {
    align-self: center;
    color: color('grey');
  }
}

.Omniform__actor-switcher {
  background-color: color('grey', 'mid-light');
  border-radius: 999px;
  height: 2em;
  margin: .4em;
  margin-right: 1.2em;
  width: 2em;
}

.Omniform__error {
  color: color('red');

  span {
    font-size: .7em;
    margin-left: .6em;
    margin-right: .3em;
  }
}
