{
  "presets": [
    "react",
    ["es2015", { "modules": false }],
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-new-target",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          { "config": "./webpack/common.config.js" }
        ]
      ]
    }
  }
}
