{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-new-target",
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "presets": [
        "react",
        ["es2015", {"modules": false}],
        "stage-0"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-new-target"
      ],
      "presets": [
        "react",
        ["es2015", {"modules": false}],
        "stage-0"
      ]
    },
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          { "config": "./webpack/test.config.js" }
        ],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
