{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "node": true,
    "es6": true,
  },
  "rules": {
    "valid-jsdoc": "error",

    // Code style
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "no-magic-numbers": ["error", {
      "ignore": [
        -1, 0, 1,
        200, 201, 202, 203, 204,
        300, 301, 302, 303, 304,
        400, 401, 402, 403, 404, 429,
        500, 501, 502, 503, 504]
    }],
    "no-shadow": "error",
    "no-invalid-this": "error",
    "no-unmodified-loop-condition": "error",
    "no-undef-init": "error",
    "no-inline-comments": "error",
   }
}
