@import '../../components/shared/config';

.PageHeader {
  position: relative;

  &__circle {
    background: color('grey');
    border-radius: 999px;
    flex-shrink: 0;
    height: 4rem;
    margin-bottom: 1em;
    margin-right: 1rem;
    overflow: hidden;
    width: 4rem;
  }

  &__container {
    & > .Container--size-large {
      overflow-x: visible;
    }
  }

  &__background {
    background-color: color('grey');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;

    @include large {
      height: 35em;
    }

    .MuiContainer-root {
      bottom: 0;
      height: 100%;
    }

    .Card {
      bottom: 0;
      max-width: 35em;
      position: absolute;
      width: calc(100% - 1.5rem);
    }
  }

  &__image-and-text-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__menuitems {
    align-items: flex-end;
    color: color('grey');
    display: flex;
    flex-direction: column;
    min-height: 2em;
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    width: 100%;
  }
}
