@import '../../components/shared/config';

// sass-lint:disable nesting-depth
.groenLinks {
  h1,
  h2,
  .Button--default,
  .NavBarContent {
    font-family: 'Suisse Webfont';
    font-weight: 900;
    text-transform: uppercase;

    &.Heading {
      font-family: 'Suisse Webfont';
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .Markdown {
    h1,
    h2 {
      font-weight: 900;
    }
  }

  .ActionsBar {
    .Button {
      text-transform: unset;
      flex-grow: 1;
      border: $grey-border;
      background: color('grey', 'xx-light');
      border-bottom: 0;
      border-right: 0;
      margin-top: 0;

      &:first-child {
        border-left: 0;
      }
    }
  }

  .Button--submit {
    background-color: var(--accent-background-color);
  }

  .CID-Card {
    border-radius: 0;
  }

  .Container--grid {
    &:first-child {
      padding-top: 0;
    }

    .Widget {
      .CID-Card {
        margin-bottom: 0;
      }

      .ContainerHeader {
        margin-top: 0;
      }
    }
  }

  .VisitForm {
    .Button {
      align-items: center;
      display: block;
      padding: 1em;
      text-align: center;
      width: 100%;
    }
  }
}
// sass-lint:enable nesting-depth

@font-face {
  font-family: 'HelveticaNeueLTStd-Blk';
  src: url('./fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'), url('./fonts/HelveticaNeueLTStd-Blk.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/SuisseIntl-Ultralight-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Ultralight-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/SuisseIntl-UltralightItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-UltralightItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/SuisseIntl-Thin-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Thin-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 200;
  src: url('./fonts/SuisseIntl-ThinItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-ThinItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/SuisseIntl-Light-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Light-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/SuisseIntl-LightItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-LightItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Regular-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/SuisseIntl-RegularItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 450;
  src: url('./fonts/SuisseIntl-Book-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Book-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 450;
  src: url('./fonts/SuisseIntl-BookItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-BookItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/SuisseIntl-Medium-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Medium-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/SuisseIntl-MediumItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-MediumItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/SuisseIntl-SemiBold-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-SemiBold-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/SuisseIntl-SemiBoldItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-SemiBoldItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/SuisseIntl-Bold-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Bold-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/SuisseIntl-BoldItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-BoldItalic-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/SuisseIntl-Black-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-Black-WebS.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Suisse Webfont';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/SuisseIntl-BlackItalic-WebS.woff2') format('woff2'), url('./fonts/SuisseIntl-BlackItalic-WebS.woff') format('woff');
}
