@import "mixins.scss";

$sk-font-family: "Open Sans", Helvetica, sans-serif;
$sk-primary-theme-color: rgb(71, 86, 104); // #e8e8e8;
$sk-active-bg-color: #475668;
$sk-border-color: #fff;
$sk-title-color: #737373;
$sk-text-color: #737373;
$sk-list-secondary-text-color: #ccc;
$sk-action-text-color: #737373;
$sk-action-active-color: #737373;
$sk-disabled-text-color: #999;
$sk-border-radius: 3px;

$sk-bold-weight: 700 !default;
$sk-medium-weight: 500 !default;
$sk-light-weight: 300 !default;

$sk-text-secondary-color: #999 !default;
$sk-list-text-color: #666 !default;
$sk-remove-action-color: #fa2a00 !default;

$sk-selector-background: white !default;
$sk-selector-active-background: $sk-primary-theme-color;
$sk-selector-border-color: #ccc !default;
$sk-selector-text-color: black !default;
$sk-selector-active-text-color: white !default;

$sk-selected-filters-background: #f4f4f4 !default;

$sk-heading-font-size: 14px !default;
$sk-text-font-size: 14px !default;
$sk-list-font-size: 14px !default;
$sk-action-font-size: 12px !default;
$sk-list-secondary-font-size: 12px !default;


/*
COLORS
*/

// Greys
$g00:rgb(249,249,249);
$g0: rgb(245,245,245);
$g1: rgb(232,232,232);
$g1a: rgb(208,208,208);
$g2: rgb(170,170,170);
$g2a: rgb(134,134,134);
$g3: rgb(115,115,115);
$g4: rgb(90,90,90);
$g5: rgb(50,50,50);

$blue: rgb(71, 86, 104);
$lightergrey: rgb(238, 240, 242); // rgb(232, 232, 232);
$lightestgrey: rgb(244, 244, 244);
$grey: rgb(155, 155, 155);
$titleblue: rgb(6, 38, 77);
$dark: rgb(90, 90, 90);
$white: rgb(255,255,255);
$brown: rgb(104, 71, 71);
$red: rgb(134, 61, 61);
$green: rgb(84, 127, 75);
$pink: #D0025B;

$primary: $pink;
$pro: $green;
$con: $red;
$neutral: $grey;
$motion: $blue;
$question: $brown;

/*
FONTS
*/
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base: 1.5;

$font-size-h1: 2.6em;
$font-size-h2: 1.8em;
$font-size-h3: 1.2em;
$font-size-h4: 1.125em;
$font-size-h5: 1em;
$font-size-h6: 0.85em;

/*
SPACING
*/

$padding-base: 10px 20px;
$padding-small: 5px 10px;

$margin-base: 20px 0;
$margin-small: 5px 0;

/*
OTHERS
*/

$border-radius-base: 3px;
$border-color: #D8DEE4;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

$page-width-default: 660px;
$page-width-fullwidth: 980px;

/*
Z-INDICES
*/

$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;
$zindex-5: 500;
$zindex-6: 600;
