@import "mixins.scss";

/*
COLORS
*/

// Greys
$g00:rgb(249,249,249);
$g0: rgb(245,245,245);
$g1: rgb(232,232,232);
$g1a: rgb(208,208,208);
$g2: rgb(170,170,170);
$g2a: rgb(134,134,134);
$g3: rgb(115,115,115);
$g4: rgb(90,90,90);
$g5: rgb(50,50,50);

$blue: rgb(71, 86, 104);
$lightblue: rgb(238, 240, 242);
$lightergrey: rgb(238, 240, 242); // rgb(232, 232, 232);
$lightestgrey: rgb(244, 244, 244);
$grey: rgb(155, 155, 155);
$titleblue: rgb(6, 38, 77);
$dark: rgb(90, 90, 90);
$white: rgb(255,255,255);
$brown: rgb(104, 71, 71);
$red: rgb(134, 61, 61);
$green: rgb(84, 127, 75);
$pink: #D0025B;
$lightpink: pink;

// Lighten and darken
$darken0: rgba(0,0,0,.02);
$darken1: rgba(0,0,0,.05);
$darken2: rgba(0,0,0,.15);
$darken3: rgba(0,0,0,.35);
$darken_overlay: rgba(26, 26, 26, 0.76);
$darken4: rgba(0,0,0,.5);
$darken5: rgba(0,0,0,.8);

$lighten1: rgba(255,255,255,.05);
$lighten2: rgba(255,255,255,.15);
$lighten3: rgba(255,255,255,.35);
$lighten4: rgba(255,255,255,.7);
$lighten5: rgba(255,255,255,.8);
$lighten6: rgba(255,255,255,.9);

$primary: $pink;
$pro: $green;
$con: $red;
$neutral: $g2;
$motion: $blue;
$question: $brown;

/*
FONTS
*/
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base: 1.5;

$font-size-h1: 2.6em;
$font-size-h2: 1.8em;
$font-size-h3: 1.2em;
$font-size-h4: 1.125em;
$font-size-h5: 1em;
$font-size-h6: 0.85em;

/*
SPACING
*/

$padding-large: 40px 20px;
$padding-base: 10px 20px;
$padding-small: 5px 10px;


$margin-base: 20px 0;
$margin-small: 5px 0;

/*
OTHERS
*/

$border-radius-base: 3px;
$border-color: #D8DEE4;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

$page-width-small: 400px;
$page-width-medium: 660px;
$page-width-large: 980px;

// The color that defines the navbar and some accents
$forum-color: $blue;

/*
Z-INDICES
*/

$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;
$zindex-5: 500;
$zindex-6: 600;
