@import './mixins';
@import './functions';

// COLORS
$pro: rgb(84, 127, 75);
$con: rgb(134, 61, 61);
$neutral: rgb(115, 115, 115);

$button-variants-colors: (
  'pro': $pro,
  'neutral': $neutral,
  'con': $con,
);

$color-base-grey: rgb(128, 128, 128);

$colors: (
  'grey': (
    'x-dark': darken($color-base-grey, 60%),
    'dark': darken($color-base-grey, 40%),
    'mid-dark': darken($color-base-grey, 20%),
    'base': $color-base-grey,
    'mid-light': lighten($color-base-grey, 20%),
    'light': lighten($color-base-grey, 20%),
    'x-light': lighten($color-base-grey, 20%),
  ),
  'blue': (
    'dark': rgb(6, 38, 77),
    'base': rgb(71, 86, 104),
    'mid-light': rgb(200, 204, 210),
    'light': rgb(216, 222, 228),
  ),
  'pink': (
    'base': rgb(208, 2, 91),
    'light': rgb(255, 192, 203),
  ),
  'brown': (
    'dark': rgb(104, 71, 71),
    'base': rgb(134, 61, 61),
  ),
  'green': (
    'base': rgb(84, 127, 75),
  ),
  'white': (
    'base': rgb(255, 255, 255),
  ),
  'black': (
    'base': rgb(0, 0, 0),
  ),
);


// Greys
$g1: rgb(232, 232, 232);
$g2: rgb(170, 170, 170);
$g2a: rgb(134, 134, 134);
$g3: rgb(115, 115, 115);
$g4: rgb(90, 90, 90);
$g5: rgb(50, 50, 50);

$blue: rgb(71, 86, 104);
$lightblue: rgb(238, 240, 242);
$lightergrey: rgb(238, 240, 242);
$grey: rgb(155, 155, 155);
$titleblue: rgb(6, 38, 77);
$dark: rgb(90, 90, 90);
$white: rgb(255, 255, 255);
$brown: rgb(104, 71, 71);
$red: rgb(134, 61, 61);
$green: rgb(84, 127, 75);
$pink: #d0025b;
$lightpink: #ffc0cb;
$dark-text: rgba(0, 0, 0, .8);
$black: rgb(0, 0, 0);

// Lighten and darken
$darken0: rgba(0, 0, 0, .02);
$darken1: rgba(0, 0, 0, .05);
$darken2: rgba(0, 0, 0, .15);
$darken3: rgba(0, 0, 0, .35);
$darken4: rgba(0, 0, 0, .5);

$lighten2: rgba(255, 255, 255, .15);
$lighten3: rgba(255, 255, 255, .35);
$lighten4: rgba(255, 255, 255, .7);

$progressbar-background: rgb(210, 210, 210);
$drawer-overlay-background: rgba(71, 86, 104, .3);

$linklist-border-color: rgba($titleblue, 0);
$linklist-border-color-light: rgba($titleblue, .2);

// FONTS
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$line-height-base: 1.5;

$font-size-h1: 2.6em;
$font-size-h2: 1.8em;
$font-size-h3: 1.2em;
$font-size-h4: 1.125em;
$font-size-h5: 1em;
$font-size-h6: .85em;

// SPACING
$padding-large: 40px 20px;
$padding-base: 10px 20px;
$padding-small: 5px 10px;

$margin-base: 20px 0;
$margin-small: 5px 0;

$sizes-margin: (
  'small': 0,
  'medium': 1em,
  'large': 2em,
);

// CONTAINER WIDTHS
$page-width-small: 400px;
$page-width-medium: 660px;
$page-width-large: 980px;

$container-width: (
  'small': $page-width-small,
  'medium': $page-width-medium,
  'large': $page-width-large
);

// OTHERS
$border-radius-base: 3px;
$border-color: #d8dee4;
$box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
$progressbar-height: 5px;

// Z-INDICES
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;
$zindex-5: 500;
$zindex-6: 600;

$z-layers: (
  'cover': $zindex-4,
  'hoverbox': $zindex-1,
  'notification': $zindex-1,
  'progressbar': $zindex-1
);
