@import './reset';
@import './config';

body {
  @include small-only {
    font-size: 16px;
  }
  background-color: $lightblue;
  color: $g3;
  font-family: $font-family;
  font-size: 14px;
  line-height: $line-height-base;
  margin: 0;
  padding: 3em 0;
}

p {
  margin: $margin-small;
}

a {
  text-decoration: none;
}

em {
  background-color: $lightpink;
}
