@import '../../components/shared/config';
@import '~rc-slider/assets/index.css';

// SEARCHBOX
.sk-search-box {
  background-color: color('transparent', 'light');
  border-radius: $border-radius-base;
  transition: .2s background-color;

  &:hover {
    background-color: color('transparent', 'mid-light');
  }

  &__text {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: color('white');
    flex: auto;
    font-size: 1em;
    padding: .5em;
    transition: .2s color;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: color('transparent');
      transition: .2s color;
    }
  }

  &.is-focused {
    background-color: color('white');

    .SearchBox__text {
      color: color('grey', 'mid-dark');

      &::placeholder {
        color: color('grey', 'mid-light');
      }
    }
  }

  &__action {
    display: none;
    visibility: hidden;
  }
}

// TOOLS
.sk-pagination-navigation {
  display: flex;
  justify-content: center;
}

// TOGGLE
.sk-toggle {
  border: 1px solid color('grey', 'x-light');
  border-radius: $border-radius-base;
  color: color('blue');
  display: flex;

  &-option {
    border-right: 1px solid color('grey', 'x-light');
    cursor: pointer;
    padding: .5em 1em;

    &:last-child {
      border: 0;
    }

    &.is-active {
      background-color: color('grey', 'x-light');
    }

    &.is-disabled {
      display: none;
    }
  }
}

// PANELS
.sk-panel {
  border-bottom: 1px solid color('grey', 'light');
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  width: 100%;

  &__content {
    &.is-collapsed  {
      display: none;
    }
  }

  &.is-disabled  {
    display: none;
  }

  @include large {
    border: 0;
    margin-bottom: 1.5em;
    padding: 0;
  }
}

.sk-panel__header {
  color: color('grey', 'dark');
  font-size: font-size();
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;

  &.is-collapsable  {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    user-select: none;

    &::after {
      @include sk-arrow-down(5px);
      content: '';
      display: block;
      left: 2px;
      margin-top: -3px;
      position: absolute;
      top: 50%;
    }

    &.is-collapsed {
      &::after {
        @include sk-arrow-right(5px);
        left: 3px;
        margin-top: -5px;
      }
    }
  }
}

// ACTIONS
.sk-refinement-list__view-more-action {
  color: color('grey', 'dark');
  cursor: pointer;
  font-size: font-size('small');
  margin: 5px 0;
  transition: .2s color;

  &:hover {
    color: color('grey', 'x-dark');
  }
}

//CHECKBOX
.sk-item-list-option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &__checkbox {
    display: none;
  }

  &__count {
    color: color('grey');
    font-size: 11px;
  }

  &__text {
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    transition: .2s color;

    &:hover {
      color: color('grey', 'dark');
    }

    &::before {
      border: 3px solid color('grey', 'light');
      content: ' ';
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      top: .25em;
      transition: .2s border-color, background-color;
      width: 8px;
    }
  }

  &.is-active {
    .sk-item-list-option__text {
      color: color('grey', 'mid-dark');

      &::before {
        background-color: color('grey');
        border-color: color('grey');
      }
    }
  }
}

.sk-range-histogram {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  justify-content: space-around;

  &__bar {
    background: color('grey', 'mid-light');
    flex: 1;

    &.is-out-of-bounds {
      background: color('grey', 'light');
    }
  }
}

.rc-tooltip {
  z-index: z(tooltip);
}

.rc-slider {
  background-color: color('grey', 'light');

  &-mark {
    font-size: font-size('x-small');
  }
}

.rc-slider-handle {
  border-color: color('grey', 'mid-dark');

  &:hover {
    border-color: color('grey', 'x-dark');
  }
}

.rc-slider-track {
  background-color: color('grey', 'mid-dark');
}

.rc-slider-mark {
  &-text {
    &-active {
      color: color('grey', 'dark');
    }
  }
}

.rc-tooltip-placement-top {
  .rc-tooltip-arrow {
    border-top-color: color('pink');
  }
}

.rc-tooltip-inner {
  background-color: color('pink');
  box-shadow: none;
  box-sizing: border-box;
  padding: 6px 10px;
}
