@import '../shared/config';

.AttachmentPreview {
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: $border-radius-base;
  display: inline-flex;
  flex-direction: column;
  height: 5.2em;
  margin-bottom: 1rem;
  margin-right: .5em;
  position: relative;
  width: 5.2em;

  .AttachmentPreview__image {
    font-size: 64px;
    height: 64px;
    width: 64px;
  }

  .AttachmentPreview__title {
    background-color: color('transparent', 'xx-dark');
    bottom: 0;
    color: color('white');
    display: none;
    font-size: .8rem;
    left: 0;
    overflow: hidden;
    padding: .1em;
    position: absolute;
    right: 0;
    white-space: nowrap;
  }

  &:hover {
    .AttachmentPreview__title {
      display: block;
    }
  }
}
