@import '../../components/shared/config';

.Table {
  &__wrapper {
    max-width: 100%;
    overflow-x: auto;
  }

  &__table {
    width: 100%;

    td {
      a {
        margin: 0 .1rem;
      }

      .fa {
        color: color('grey', 'xx-light-foreground-small');
      }
    }

    tr {
      border-bottom: color('grey', 'x-light');
    }
  }
}
