@import '../../components/shared/config';

.Table {
  &__wrapper {
    max-width: 100%;
  }

  &__table {
    width: 100%;

    tbody {
      display: block;
      max-height: 70vh;
      overflow-x: auto;
    }

    td {
      a {
        margin: 0 .1rem;
      }

      .fa {
        color: color('grey', 'xx-light-foreground-small');

      }

      [disabled] {
        .fa {
          color: color('grey', 'x-light');
        }
      }
    }

    thead,
    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    tr {
      border-bottom: color('grey', 'x-light');
    }
  }
}
