@import '../../components/shared/config';

.Menu {
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 150;

  &--positioner {
    &--floating {
      display: flex;
      flex-direction: row-reverse;
      margin: auto;
      max-width: map-get($container-width, 'large');
      padding: units('none', 'small');
      pointer-events: none;
    }
  }

  &--floating {
    pointer-events: none;
  }

  &--full-screen {
    background-color: color('white');
    height: calc(100vh - #{$navbar-height});
    left: 0;
    overflow-y: scroll;
    right: 0;
  }

  &__button {
    &:focus,
    &:hover {
      background-color: color('transparent', 'x-light');
    }

    &:active {
      background-color: color('transparent', 'light');
    }
  }
}
