@import '../../components/shared/config';

.AppMenu {
  background-color: color('white');
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 13em;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: all;
  z-index: z(app-menu);

  &--floating {
    box-shadow: $box-shadow--intense;
    height: auto;
    max-width: 20em;
  }

  &--full-screen {
    min-height: calc(100vh - #{$navbar-height});
  }
}
