@import '../shared/config';

.LDLink {
  &__default {
    display: inline-flex;
  }

  &__parent {
    color: color('grey', 'base');
    display: inline-flex;

    &:hover {
      color: color('grey', 'dark');
    }
  }
}
