@import '../../components/shared/config';

.OverlayContainer {
  div {
    max-width: 25rem;
  }

  .CID-Card {
    max-height: 40vh;
    overflow: auto;
  }

  .CoverImage__child {
    height: initial;
  }
}
