@import '../shared/config';

.CollapseText {
  margin-bottom: -.5em;

  .CollapseText__toggle {
    background: linear-gradient(to bottom, color('transparent', 'transparent') 0%, color('white') 70%, color('white') 100%);
    bottom: 1em;
    position: relative;
    width: 100%;
  }

  .Button__label {
    color: color('grey', 'base');
    padding: 0 .9em;
    position: relative;
    transition: .2s transform;

    &:hover {
      color: color('grey', 'mid-dark');
    }
  }

  &.CollapseText--open {
    .CollapseText__toggle {
      // sass-lint:disable class-name-format
      .fa {
        transform: rotate(180deg);
      }
      // sass-lint:enable class-name-format
    }
  }
}
