@import '../shared/config';

.Heading {
  .MuiDialog-paper > div > & {
    color: color('white');
  }
}

// sass-lint:disable no-qualifying-elements force-element-nesting
h1.Heading {
  font-size: font-size('xx-large');
  font-weight: bold;

  @include small-only {
    font-size: 1.5rem;
  }

  @include smallest-only {
    font-size: 1.3rem;
  }
}

h2.Heading {
  font-size: font-size('x-large');
  font-weight: bold;
}

h3.Heading {
  font-size: font-size('large');
  font-weight: bold;
}

h4.Heading {
  font-size: font-size('medium');
  font-weight: bold;
  line-height: 1.1em;
}

h5.Heading {
  font-size: font-size('small');
}

h6.Heading {
  font-size: font-size('small');
}
