@import '../shared/config';

.Heading {
  color: color('blue');
  line-height: 1.3;

  a {
    color: color('blue');

    &:hover {
      color: color('grey', 'dark');
    }
  }

  &--light {
    color: color('white');

    a {
      color: color('white');
    }
  }

  &--pro {
    color: color('green');
  }

  &--con {
    color: color('brown');
  }

  &--question {
    color: color('brown', 'dark');
  }

  &--column {
    color: color('grey');
    text-align: center;
  }

  &--inherit {
    display: inherit;
  }
}

// sass-lint:disable no-qualifying-elements force-element-nesting
h1.Heading {
  font-size: font-size('xx-large');
  font-weight: bold;
}

h2.Heading {
  font-size: font-size('x-large');
  font-weight: bold;
}

h3.Heading {
  font-size: font-size('medium');
  font-weight: bold;
}

h4.Heading {
  font-size: font-size('medium');
}

h5.Heading {
  font-size: font-size('small');
}

h6.Heading {
  font-size: font-size('small');
}
