@import '../shared/config';

.FieldHelper {
  color: color('grey');
  display: flex;
  font-size: .8em;
  justify-content: space-between;
  padding-right: .8rem;

  &--preview {
    bottom: 0;
    height: initial;
    padding: 5px 20px 0;
    position: absolute;
  }

  &__right {
    margin-left: auto;
  }
}
