@import '../shared/config';

.Field {
  display: flex;
  flex-direction: column;
  position: relative;

  &__wrapper {
    position: relative;
    display: inline-block;
  }
}

.Field--association {
  .Field__wrapper + .Field__wrapper {
    border-top: 1px solid color('grey', 'x-light');
    padding-top: 1em;
  }
}

.Field__input {
  display: flex;
  font-family: $font-family;
  font-size: 1em;
  margin: 0;
  padding: 10px;

  &--trailing-icon {
    align-self: center;
    font-size: 1rem;
    padding-right: .1em;
  }

  // https://gitlab.com/ontola/core/-/issues/292
  [id='aHR0cDovL3NjaGVtYS5vcmcvbmFtZQ=='] { // sass-lint:disable-line
    font-size: 1.1rem;
    font-weight: bold;
  }

  &,
  input {
    box-sizing: border-box;
    width: 100%;

    &--checkbox {
      label,
      input {
        cursor: pointer;
      }

      & > input {
        -moz-appearance: checkbox;
        -webkit-appearance: checkbox;
        margin-right: .5em;
        position: relative;
        top: 1px;
        width: auto;
      }
    }

    &--postalRange {
      display: inline-block;
    }

    &--select {
      -moz-appearance: menulist-button;
      -webkit-appearance: menulist-button;
      padding: 0;
      width: auto;
      min-width: 3em;

      ul {
        width: 100%;
      }

      & > div {
        width: 100%;
      }

      & input {
        padding: units('x-small', 'large');
        width: 100%;
      }
    }

    &:focus {
      outline: none;
    }
  }

  & textarea {
    resize: vertical;
    width: 100%;
  }

  &__remove-button {
    color: color('grey', 'mid-dark');
    font-size: font-size('x-large');
    padding: 0 units('x-small', 'x-small');
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
  }

}

.Field__description {
  font-size: .8rem;
  margin-bottom: .3rem;
  margin-top: -.3rem;
  white-space: pre-wrap;
}

.Field__label {
  color: color('grey', 'xx-light-foreground-small');
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.Field__error {
  color: $alert-color;
  display: block;
}

// Variants
.Field--variant-default {
  margin-bottom: 1em;

  .Field__input {
    background-color: color('grey', 'xx-light');
    border: $grey-border;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    transition: border-color .2s, background-color .2s;
    width: auto;

    &:hover {
      border-color: color('grey', 'light');
    }

    &--checkbox {
      align-items: baseline;
      background-color: inherit;
      border: 0;
      // TODO: check
      padding: 0;

      .Field__label {
        padding-bottom: 0;
        font-weight: normal;
        color: color('grey', 'dark');
      }
    }

    &.Field__input--select {
      border: unset;
    }
  }

  &.Field--active {
    .Field__input {
      background-color: color('white');
      border-color: color('grey', 'light');
      outline-offset: 2px;
    }
  }

  .Field__label {
    margin: 0;
    padding-bottom: .3rem;

    &-required {
      color: color('red');
    }
  }
}

.Field--variant-preview {
  .Field__input {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 10px 20px;
    transition: box-shadow .2s;
    width: 100%;

    &:hover {
      box-shadow: inset 5px 0 0 color('grey', 'light');
    }

    &--select {
      padding: 0;
    }
  }

  .Field--active {
    .Field__input {
      box-shadow: inset 5px 0 0 color('grey');
    }
  }
}
