@import '../shared/config';

.Field {
  display: flex;
  flex-direction: column;
}

.Field__input {
  &,
  input {
    -webkit-appearance: none;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 1em;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    width: calc(100% - 20px);

    &--checkbox {
      -moz-appearance: checkbox;
      -webkit-appearance: checkbox;
      width: auto;
    }

    &--select {
      -moz-appearance: menulist;
      -webkit-appearance: menulist;
      width: auto;
    }

    &:focus {
      outline: none;
    }

    &.Field__input--hidden {
      border: 0;
      display: none;
    }
  }
}

.Field__description {
  font-size: .8rem;
  margin-top: -10px;
}

.Field__label {
  color: color('grey', 'xx-light-foreground-small');
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-left: 1.3rem;
}

.Field__list {
  background-color: color('white', 'base');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow--intense;
}

.Field__list-element {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0 2px;
}

.Field__messages {
  font-size: .8em;
  padding: 0 20px;
  padding-top: 10px;

  &--bottom {
    padding-bottom: 10px;
    padding-top: 0;
  }
}

.Field__error,
.Field__warning {
  color: $alert-color;
}

// Props
.Field--hidden {
  display: none;
}

.Field--textarea {
  .Field__input {
    resize: vertical;
  }
}

// Variants
.Field--variant-default {
  margin-bottom: 1em;

  .Form__footer & {
    margin-bottom: 0;
  }

  .Field__input {
    background-color: color('grey', 'xx-light');
    border: $grey-border;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    transition: border-color .2s, background-color .2s;
    width: auto;

    &:hover {
      border-color: color('grey', 'light');
    }

    &:focus,
    &.Field--active & {
      background-color: color('white');
      border-color: color('grey', 'light');
    }
  }

  .Field__label {
    margin: 0;
    padding-bottom: .3rem;
  }

  .Field__messages {
    padding: 0;
  }
}

.Field--variant-preview {
  .Field__input {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 10px 20px;
    transition: box-shadow .2s;
    width: 100%;

    &:hover {
      box-shadow: inset 5px 0 0 color('grey', 'light');
    }

    &:focus {
      box-shadow: inset 5px 0 0 color('grey');
    }
  }

  .Field--active {
    .Field__input {
      box-shadow: inset 5px 0 0 color('grey');
    }
  }

  &.Field--error {
    .Field__input {
      box-shadow: inset 5px 0 0 $alert-color;
    }
  }

  &.Field--pro {
    .Field__input {
      color: color('green');

      &:focus {
        box-shadow: inset 5px 0 0 color('green');
      }
    }
  }

  &.Field--con {
    .Field__input {
      color: color('brown');

      &:focus {
        box-shadow: inset 5px 0 0 color('brown');
      }
    }
  }
}

.Field--variant-material {
  position: relative;

  .Field__label {
    cursor: text;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(1) translate3d(0, 1rem, 0);
    transform-origin: left top 0;
    transition: transform .2s, opacity .2s;
    z-index: 1;
  }

  .Field__input {
    background: none;
    border: 0;
    border-bottom: solid 2px color('grey', 'x-light');
    padding-bottom: .3rem;
    transition: border .2s;
    width: calc(100% - 20px);

    &::placeholder {
      color: color('white');
      transition: color .2s;
    }

    .public-DraftEditorPlaceholder-root {
      opacity: 0;
    }
  }

  &.Field--active {
    .Field__input {
      border-bottom: solid 2px color('grey', 'light');
    }

    .Field__label {
      color: color('grey', 'mid-dark');
    }

    .public-DraftEditorPlaceholder-root {
      opacity: 1;
    }
  }

  // When the form is focused or filled in, make the label appear as if inside the form
  &.Field--active,
  &.Field--dirty {
    .Field__label {
      transform: scale(.8) translate3d(0, 0, 0);
    }

    .Field__input {
      &::placeholder {
        color: color('grey');
      }
    }
  }

  &.Field--dirty {
    .Field__label {
      opacity: .7;
    }
  }
}

// Custom classes
.Field--heading {
  .Field__input {
    font-size: 1.3em;
    font-weight: bold;
  }
}
