@import '../shared/config';

.Field {
  display: flex;
  flex-direction: column;
  position: relative;

  &__wrapper {
    position: relative;
    display: inline-block;

    &-buttons {
      position: absolute;
      width: 100%;
      padding-right: 0.5em;
      top: 0;

      & button,
      & [role='button']{
        color: #707070;
        float: right;
        padding: 0.1em;
      }
    }
  }
}

.Field__input {
  display: flex;
  font-family: $font-family;
  font-size: 1em;
  margin: 0;
  padding: 10px;

  &--trailing-icon {
    align-self: center;
    font-size: 1rem;
    padding-right: .1em;
  }

  // https://gitlab.com/ontola/core/-/issues/292
  [id='aHR0cDovL3NjaGVtYS5vcmcvbmFtZQ=='] { // sass-lint:disable-line
    font-size: 1.1rem;
    font-weight: bold;
  }

  &,
  input {
    box-sizing: border-box;
    width: 100%;

    &--checkbox {
      label,
      input {
        cursor: pointer;
      }

      & > input {
        -moz-appearance: checkbox;
        -webkit-appearance: checkbox;
        margin-right: .5em;
        position: relative;
        top: 1px;
        width: auto;
      }
    }

    &--postalRange {
      display: inline-block;
    }

    &--select {
      -moz-appearance: menulist-button;
      -webkit-appearance: menulist-button;
      padding: 0;
      width: auto;
      min-width: 3em;

      ul {
        width: 100%;
      }

      & > div {
        width: 100%;
      }

      & input {
        padding: units('x-small', 'large');
        width: 100%;
      }
    }

    &:focus {
      outline: none;
    }

    &.Field__input--hidden {
      border: 0;
      display: none;
    }
  }

  & textarea {
    resize: vertical;
    width: 100%;
  }
}

input {
  &.hidden-field {
    border: 0;
    height: 1px;
    left: 0;
    margin: .1em;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.Field__description {
  font-size: .8rem;
  margin-bottom: .3rem;
  margin-top: -.3rem;
  white-space: pre-wrap;
}

.Field__label {
  color: color('grey', 'xx-light-foreground-small');
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.Field__list {
  background-color: color('white', 'base');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow--intense;
}

.Field__list-element {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0 2px;
}

.Field__error,
.Field__warning {
  color: $alert-color;
  display: block;
}

// Props
.Field--hidden {
  display: none;
}

// Variants
.Field--variant-default {
  margin-bottom: 1em;

  .Field__input {
    background-color: color('grey', 'xx-light');
    border: $grey-border;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    transition: border-color .2s, background-color .2s;
    width: auto;

    &:hover {
      border-color: color('grey', 'light');
    }

    &--checkbox {
      align-items: baseline;
      background-color: inherit;
      border: 0;
      // TODO: check
      padding: 0;

      .Field__label {
        padding-bottom: 0;
        font-weight: normal;
        color: color('grey', 'dark');
      }
    }

    &--checkboxes {
      background: none;
      padding: 0;
      border: 0;
    }

    &--markdown {
      background: none;
      border: 0;
      display: flex;
      flex: 1;
      padding: 0;
      position: relative;
      width: 100%;
    }

    &.Field__input--select {
      border: unset;
    }
  }

  &.Field--active {
    .Field__input {
      background-color: color('white');
      border-color: color('grey', 'light');
      outline-offset: 2px;
    }
  }

  .Field__label {
    margin: 0;
    padding-bottom: .3rem;

    &-required {
      color: color('red');
    }
  }

  .Field__messages {
    padding: 0;
  }
}

.Field--variant-preview {
  .Field__input {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 10px 20px;
    transition: box-shadow .2s;
    width: 100%;

    &:hover {
      box-shadow: inset 5px 0 0 color('grey', 'light');
    }

    &--select {
      padding: 0;
    }

    &.Field__input--markdown {
      padding: 0;
      margin: 0;
    }
  }

  .Field--active {
    .Field__input {
      box-shadow: inset 5px 0 0 color('grey');
    }
  }

  // Disabled until https://gitlab.com/ontola/core/-/issues/291 is fixed
  // &.Field--error {
  // .Field__input {
  // box-shadow: inset 5px 0 0 $alert-color;
  // }
  // }

  &.Field--pro {
    .Field__input {
      color: color('green');

      &:focus {
        box-shadow: inset 5px 0 0 color('green');
      }
    }
  }

  &.Field--con {
    .Field__input {
      color: color('brown');

      &:focus {
        box-shadow: inset 5px 0 0 color('brown');
      }
    }
  }
}

// Custom classes
.Field--heading {
  .Field__input {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.NestedShape {
  background-color: color('grey', 'xx-light');
  border: $grey-border;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 0 1em;
  padding: 1em;
  padding-bottom: 0;
  transition: border-color .2s, background-color .2s;
  width: auto;

  .Field__input--select,
  .Field__input--text,
  .Field__input--textarea {
    background-color: color('white');
  }
}

.Field__input--checkboxes {
  .Field__input--checkbox {
    padding-top: 0;
  }
}
