@import '../shared/config';

.CompareVotesBar__collapsible-children {
  border-top: solid 1px color('grey', 'x-light');
  padding: .5em;
}

.CompareVotesBar {
  border-bottom: solid 1px color('grey', 'x-light');
}
