@import "../shared/config.scss";

.Page {
  margin: 0 auto;

  &--default {
    max-width: $page-width-default;
  }

  &--wide {
    max-width: $page-width-fullwidth;
  }

  &--full {
    width: 100%;
  }

}
