@import '../shared/config';

.List {
  &--horizontal {
    @include large {
      justify-content: space-between;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
