@import "../shared/config.scss";

.List {
  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include large() {
      justify-content: space-between;
    }
  }
}
