@import '../../components/shared/config';


// The OpenLayers class names cannot be renamed (as of v5)
.Map {
  background-color: color('grey', 'xx-light');
  color: color('black');
  margin-bottom: 1rem;
  position: relative;

  &--map-container {
    max-height: 70vh;
    height: 16rem;
    position: relative;
    z-index: 9;
  }

  &--map-indicator {
    align-items: center;
    color: color('grey');
    display: flex;
    flex-direction: column;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;

    & .fa {
      font-size: 2em;
    }
  }

  .ol-compass { // sass-lint:disable-line class-name-format
    display: inline-block;
    z-index: 10;
  }

  .ol-control { // sass-lint:disable-line class-name-format
    bottom: 2px;
    display: inline-block;
    left: 2px;
    top: unset;
    position: absolute;
    z-index: 11;

    button {
      align-self: flex-start;
      background-color: color('grey', 'xx-light');
      border: solid 1px color('grey', 'x-light');
      border-radius: $border-radius-base;
      color: color('grey', 'mid-dark');
      display: inline-block;
      font-family: $font-family;
      font-size: font-size('medium');
      width: 3em;
      height: 3em;
      line-height: unset;
      margin-right: .1em;

      &:hover,
      &:focus {
        background-color: color('grey', 'x-light');
      }
    }
  }
}
