@import '../../components/shared/config';


// The OpenLayers class names cannot be renamed (as of v5)
.Map {
  .Map--map-container {
    max-height: 70vh;
    min-height: 16rem;
  }

  .ol-compass { // sass-lint:disable-line class-name-format
    display: inline-block;
  }

  .ol-control { // sass-lint:disable-line class-name-format
    bottom: 2px;
    display: inline-block;
    left: 2px;
    position: absolute;

    button {
      align-self: flex-start;
      background-color: color('grey', 'xx-light');
      border: solid 1px color('grey', 'x-light');
      border-radius: $border-radius-base;
      color: color('grey', 'mid-dark');
      display: inline-block;
      font-family: $font-family;
      font-size: font-size('medium');
      margin-right: .1em;
      padding: units('x-small', 'large');
    }
  }
}
