@import '../shared/config';
// sass-lint:disable no-important

// If you want to overwrite the default styling, use inline styles in the component.
.SideBar--sidebar {
  background-color: color('white');
  display: flex;
  max-width: 100%;
  width: 30em;
  // Prevents a weird bug with fullscreen in chrome.
  will-change: inherit !important;

  &.SideBar--slim {
    width: 15em;
  }
}

.SideBar--sidebar-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.SideBar--overlay {
  cursor: pointer;
}

.SideBar--switch-wrapper {
  left: calc(100% - .2em);
  position: absolute;
  top: 3.6rem;
  z-index: -1;

  &--right {
    left: auto;
    right: calc(100% - .2em);
  }
}

.SideBar--top {
  flex-grow: 0;
}

.SideBar--bottom {
  flex-grow: 1;
  overflow-y: scroll;
}

.SideBar--docked {
  box-shadow: none !important;

  &.SideBar--right {
    border-left: solid 1px color('grey', 'light');
  }
}

.SideBar__controls {
  background-color: color('grey', 'x-light');
  display: flex;
}

.SideBar__search-form {
  display: flex;
  flex: 1;
  // Used for the clear button
  position: relative;
}

.SideBar__search {
  border: solid 1px color('grey', 'light');
  border-radius: 5px;
  flex-grow: 1;
  font-size: 1em;
  margin: .2em;
  margin-left: .3em;
  padding: .4em;
}

.SideBar--sidebar--wrapper {
  display: flex;
  flex: 1;
}
