@import '../shared/config';

.LinkList {
  -webkit-overflow-scrolling: touch; // Enables inertial scrolling on iOS
  display: flex;
  overflow-x: auto;
  white-space: nowrap; // Enables scrolling horizontally to reveal hidden items
}

.LinkList__link {
  border-bottom: 3px solid $linklist-border-color;
  color: $blue;
  display: block;
  margin-right: 1.5em;
  padding: .7em 0;
  transition: .1s border-bottom;

  &:hover,
  &:focus {
    border-bottom-color: $linklist-border-color-light;
    color: $titleblue;
  }

  &--active,
  &:active {
    border-bottom-color: $titleblue;
    color: $titleblue;
  }

  &:last-of-type {
    margin-right: 2em;
  }
}
