@import "../shared/config.scss";

.LinkList {
  display: flex;

  // Enables scrolling horizontally to reveal hidden items
  overflow-x: auto;
  white-space: nowrap;

  // Enables inertial scrolling on iOS
  -webkit-overflow-scrolling: touch;
}

.LinkList__link {
  display: block;
  padding: .7em 0;
  margin-right: 1.5em;
  color: $blue;

  &:hover {
    color: $titleblue;
  }

  &--active {
    color: $titleblue;
    border-bottom: .2em solid $titleblue;
  }

  &:last-of-type {
    padding-right: 2em;
  }
}
