@import '../shared/config';

.LinkList {
  -webkit-overflow-scrolling: touch; // Enables inertial scrolling on iOS
  display: flex;
  overflow-x: auto;
  white-space: nowrap; // Enables scrolling horizontally to reveal hidden items
}

.LinkList__link {
  border-bottom: 3px solid transparent;
  color: color('blue');
  display: block;
  margin-right: unit('large');
  padding: units('small', 'none');
  transition: .1s border-bottom;

  &:hover {
    border-bottom-color: color('blue', 'light');
  }

  &--active,
  &:active {
    border-bottom-color: color('blue');
    color: color('blue');
  }

  &:last-of-type {
    margin-right: unit('large');
  }
}
