@import "../shared/config.scss";

.LinkList {
  display: flex;

  // Enables scrolling horizontally to reveal hidden items
  overflow-x: auto;
  white-space: nowrap;

  // Enables inertial scrolling on iOS
  -webkit-overflow-scrolling: touch;
}

.LinkList__link {
  display: block;
  padding: .7em 0;
  margin-right: 1.5em;
  color: $blue;
  transition: .1s border-bottom;
  border-bottom: 3px solid rgba($titleblue, 0);

  &:hover, &:focus {
    color: $titleblue;
    border-bottom-color: rgba($titleblue, .2);
  }

  &--active, &:active {
    color: $titleblue;
    border-bottom-color: rgba($titleblue, 1) !important;
  }

  &:last-of-type {
    margin-right: 2em;
  }
}
