@import '../../components/shared/config';

.MediaObjectPage__infobar {
  align-items: center;
  background-color: color('white');
  display: flex;
  height: 3em;
  margin-bottom: 1em;
  width: 100%;
}

.MediaObjectPage__infobar--image {
  text-align: center;
  width: 100%;

  &.fa {
    font-size: 10em;
  }
}

.MediaObjectPage__infobar--image--filename {
  text-align: center;
}

.MediaObjectPage__infobar--video-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.MediaObjectPage__infobar--video-html {
  margin-top: .5em;
  width: 100%;
}

.MediaObjectPage__infobar--video-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
