.txtGrey { color: #ccc; }
.txtDark { color: #666; }
.txtBlue { color: blue; }
.txtWhite { color: white; }
.txtPink { color: pink; }

.bgBlue { background-color: blue; }
.bgGrey { background-color: #f0f0f0; }
.bgWhite { background-color: white; }
