@import '../shared/config';

.SideBarCollapsible {
  position: relative;
  flex-grow: 1;
  flex-direction: column;

  a {
    flex: 1;
  }

  .Collapsible__invisible-content {
    background-color: color('transparent', 'dark');
  }

  .SideBarCollapsible__label {
    position: relative;
    display: flex;
  }

  .SideBarCollapsible__toggle {
    align-items: center;
    border-radius: 0;
    color: color('transparent', 'mid-light');
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 2.1em;

    .Button__label {
      flex: 1;
      transition: .2s transform;

      // sass-lint:disable class-name-format
      .fa {
        flex: 1;
      }
      // sass-lint:enable class-name-format
    }

    &:hover,
    &:focus {
      color: color('white');
    }
  }

  &.SideBarCollapsible--open {
    .SideBarCollapsible__toggle {
      .Button__label {
        transform: rotate(90deg);
      }
    }
  }
}
