.IconAttribute {
  line-height: 2.5em;
  display: inline-block;

  .img-wrapper {
    height: 2em;
    width: 2em;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: .5em;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
