@import '../../components/shared/config';

.RichTextEditor {
  background-color: color('grey', 'xx-light');
  border: $grey-border;
  border-radius: 5px;
  flex: 1;
  min-height: 150px;
  position: relative;
}
