@import '../shared/config';

.Form {
  fieldset {
    legend {
      color: color('grey', 'mid-dark');
      font-size: font-size('large');
      font-weight: bold;
    }
  }

  hr {
    background-color: color('grey', 'x-light');
    border: 0;
    height: 1px;
  }

}

.Form__footer {
  background-color: color('grey', 'xx-light');
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  border-top: solid 1px color('grey', 'x-light');
  display: flex;
  flex-direction: row;
  // For animating the Omniform preview on hover
  transition: background-color .2s;

  .CardRow + & {
    border-top: 0;
  }

  &-image {
    align-self: center;
    background-size: cover;
    border-radius: 999px;
    height: 1.3em;
    margin: .6em;
    margin-right: .5em;
    width: 1.3em;
  }

  &--right {
    display: flex;
    margin-left: auto;

    & > :last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}
