@import '../shared/config';

.PDFComments {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.PDFNav__container {
  bottom: 1em;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.PDFNav__page-input {
  border: 0;
  box-sizing: border-box;
  font-family: $font-family;
  height: 100%;
  padding: .4em;
  text-align: center;
  width: 2.3em;
}

.PDFNav__page-total-pages {
  border: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: .8rem;
  height: 100%;
  padding: .4em;
  text-align: center;
}

.PDFNav {
  @include small-only {
    transform: scale(1.2);
  }

  background: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  height: 100%;
  z-index: 1;
}

.PDFViewer__comment {
  pointer-events: none;
  position: relative;

  &:hover {
    .PDFViewer__comment__bubble {
      cursor: grab;
      opacity: 1;
      transform: scale(1.1);
    }

    .PDFViewer__comment__content {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);
    }
  }
}

$bubble-size: 25px;

.PDFViewer__comment-wrapper {
  pointer-events: auto;
  position: absolute;
  transform: translate(-($bubble-size/2), -($bubble-size/2));
}

.PDFViewer__comment__bubble {
  align-items: center;
  background: color('blue');
  border-radius: 100%;
  box-shadow: $box-shadow;
  color: color('white');
  display: flex;
  height: $bubble-size;
  justify-content: center;
  opacity: .7;
  pointer-events: auto;
  transition: .2s opacity, .2s transform;
  width: $bubble-size;
}

.PDFViewer__comment__content {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow--intense;
  box-sizing: padding-box;
  color: color('black');
  display: block;
  left: -10em;
  max-width: 20em;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  right: -10em;
  transform: scale(.8);
  transition: .2s opacity, .2s transform;
  z-index: z(hoverbox);
};

.PDFViewer__scroll-box {
  bottom: 0;
  display: flex;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.PDFViewer__wrapper {
  display: inline-block;
  margin: auto;
  position: relative;
}
