@import '../shared/config';

.HoverBox {
  position: relative;
}

.HoverBox__hidden-part {
  display: none;
  pointer-events: none;

  &.HoverBox__hidden-part--visible {
    background-color: color('white');
    border-radius: $border-radius-base;
    box-shadow: $box-shadow--intense;
    box-sizing: padding-box;
    display: block;
    left: -10px;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: z(hoverbox);
  }
}
