@import '../shared/config';

@keyframes hb-highlight {
  0% {
    box-shadow: none;
  }

  50% {
    animation-timing-function: ease-in;
    box-shadow: 0 0 1em color('green', 'light');
  }

  100% {
    animation-timing-function: ease-out;
    box-shadow: none;
  }
}


.HoverBox {
  position: relative;

  &--shine {
    animation: hb-highlight 1s 1;
  }
}

.HoverBox__hidden-part {
  display: none;
  pointer-events: none;

  &.HoverBox__hidden-part--visible {
    background-color: color('white');
    border-radius: $border-radius-base;
    box-shadow: $box-shadow--intense;
    box-sizing: padding-box;
    display: block;
    left: -10px;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: z(hoverbox);

    &--popout {
      right: auto;
      width: 20em;
    }
  }
}
