@import '../../components/shared/config';

.RichTextEditor {
  background-color: color('grey', 'xx-light');
  border: $grey-border;
  border-radius: 5px;
  flex: 1;
  min-height: 150px;
  position: relative;
}

.TextEditor {
  flex: 1;
  position: relative;

  textarea {
    font-family: $font-family;
    overflow: hidden;
  }
}

.MarkdownPreview {
  padding: 10px 20px;
}

// Styling draftJS component
// sass-lint:disable class-name-format

.public-DraftEditorPlaceholder-root {
  color: color('grey');
  pointer-events: none;
  position: absolute;
}

.DraftEditor-root {
  margin-bottom: -10px;
}
