@import '../shared/config';

.Button {
  align-self: flex-start;
  border: 0;
  display: inline-block;
  font-family: $font-family;
  font-size: font-size('medium');
  margin: 0;
  padding: units('x-small', 'large');
  transition: .1s box-shadow, .1s background-color;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 999px color('transparent', 'mid-dark');
  }

  &:active {
    box-shadow: inset 0 0 0 999px color('transparent', 'dark');
    outline: 0;
    transition: 0s box-shadow;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;

    &:active,
    &:hover {
      box-shadow: none;
    }
  }
}

a {
  &.Button {
    align-items: center;
    display: flex;
  }
}

.Button--grow {
  flex-grow: 1;
}

.Button--has-icon {
  .Button__label {
    margin-left: 4px;
  }
}

.Button--default {
  background-color: color('pink');
  border-radius: $border-radius-base;
  color: color('white');
}

// Props
.Button--small {
  font-size: font-size('small');
  padding: units('xx-small', 'x-small');
}

.Button--margins {
  margin: 0 unit('x-small');
}

// Should remove most or all of default button styling
.Button--plain {
  background: none;
  color: inherit;
  padding: 0;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }
}

.Button--narrow {
  padding: units('x-small', 'small');
}

// Themes - remove all styling
.Button--box {
  align-self: stretch;
  border-right: 1px solid color('grey', 'x-light');
  color: color('grey');
  flex-grow: 1;

  &:last-child {
    border-right: 0;
  }

  &.Button--active {
    background-color: color('grey', 'x-light');
  }
}

.Button--submit {
  background-color: color('green');
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: color('white');
}

.Button--subtle {
  background-color: color('grey', 'xx-light');
  border: solid 1px color('grey', 'x-light');
  border-radius: $border-radius-base;
  color: color('grey', 'mid-dark');
}

.Button--transparant,
.Button--pagination {
  color: color('grey');

  &:hover,
  &:focus {
    color: color('grey', 'dark');
  }
}

.Button--pagination {
  &[disabled] {
    color: color('grey', 'x-dark');
    cursor: initial;
    font-weight: bold;
    opacity: 1;
  }
}

.Button--as-card {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  color: color('grey');
  margin-bottom: 1em;
  transition: .2s;

  &:hover,
  &:focus {
    background-color: color('white');
    box-shadow: $box-shadow--intense;
    color: color('grey', 'dark');
  }

  &:active {
    background-color: color('white');
    box-shadow: $box-shadow--inside;
    color: color('grey', 'dark');
  }
}

.Button--omniform-switcher {
  color: color('grey', 'mid-light');
  padding-left: .8em;
  padding-right: .8em;
  position: relative;

  &::after {
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.Button--omniform-switcher--current {
  color: color('grey', 'mid-dark');

  &::after {
    background-color: color('grey', 'x-light');
  }

  &.Button--omniform-switcher--pro {
    color: color('green', 'base');
  }

  &.Button--omniform-switcher--con {
    color: color('brown', 'base');
  }
}

// Variants - maintain default style
$facebook-color: rgb(59, 89, 152);

.Button--variant-facebook {
  background-color: $facebook-color;
}

$google-color: #4285f4;

.Button--variant-google {
  background-color: $google-color;
}

// These are for colored buttons that can be toggled
@each $variant, $color in $button-variants-colors {
  .Button--variant-#{$variant} {
    color: color($color);
    transition: box-shadow .2s;

    .Button__label {
      box-shadow: inset 0 -2px 0 0 transaprent;
      color: color($color);
      padding: .3em 0;
      transition: box-shadow .2s;
    }

    .Button__icon {
      color: color($color);
    }

    &:hover,
    &:focus {
      background-color: color('white');

      .Button__label {
        box-shadow: inset 0 -2px 0 0 color($color);
      }
    }

    &:active {
      // sass-lint:disable no-important
      background-color: color('grey', 'x-light') !important;
      // sass-lint:enable no-important
    }

    &.Button--active {
      background-color: color('white');

      .Button__label {
        box-shadow: inset 0 -4px 0 0 color($color);
      }
    }
  }
}

.Button--corner {
  line-height: 1em;
  padding: .4em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.Button--CardList {
  color: color('grey', 'base');
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: .7rem;

  &:hover {
    color: color('grey', 'mid-dark');
  }

  &:active {
    color: color('grey', 'dark');
  }
}
