@import "../shared/config.scss";

.Button {
  font-family: $font-family;
  font-size: $font-size-h5;
  padding: $padding-base;
  margin: 0;
  border: none;
  display: inline-block;
  transition: .1s box-shadow, .1s background-color;

  &:hover {
    cursor: pointer;
  }

  // Not sure about this one, since it may hurt accessibility.
  // The annoying blue box only appears if the button has no action / href. - Joep
  &:focus {
    outline: 0;
  }

  &:hover, &:focus {
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .15);
  }

  &:active {
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .30);
    transition: 0s box-shadow !important;
  }
}

.Button--default {
  color: $white;
  background-color: $primary;
  border-radius: $border-radius-base;
}

.Button--subtle {
  background-color: $g1;
  color: $dark;
  border-radius: $border-radius-base;

  &:hover, &:focus {
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .03);
  }

  &:active {
    box-shadow: inset 0 0 0 999px rgba(0, 0, 0, .08);
  }
}

.Button--small {
  font-size: $font-size-h6;
  padding: $padding-small;
}

.Button--box {
  background-color: $white;
  border-right: 1px solid $border-color;
  color: $g3;
  flex-grow: 1;

  &:last-child {
    border-right: 0;
  }

  &:hover, &:focus {
    color: $g4;
  }
}

.Button--variant {
  &-pro, &-con, &-neutral {
    &:hover, &:focus {
      box-shadow: none !important;
    }
  }

  &-pro {
    color: $pro;

    &:hover, &:focus {
      color: $pro;
      background-color: rgba($pro, .1);
    }

    &:active {
      color: $pro;
      background-color: rgba($pro, .3);
    }
  }

  &-neutral {
    color: $neutral;

    &:hover, &:focus {
      color: $neutral;
      background-color: rgba($neutral, .1);
    }

    &:active {
      color: $neutral;
      background-color: rgba($neutral, .3);
    }
  }

  &-con {
    color: $con;

    &:hover, &:focus {
      color: $con;
      background-color: rgba($con, .1);
    }

    &:active {
      color: $con;
      background-color: rgba($con, .3);
    }
  }
}
