.OrganizationName {
  align-items: center;
  display: flex;
  padding: 1em;

  &__value {
    color: inherit;
    font-weight: bold;
    margin-left: .4em;
  }

  .HeaderLink__image {
    height: 2.2em;
    margin-left: .3em;
    width: 2.2em;
  }
}
