.OrganizationNameNavbar {
  align-items: center;
  display: flex;
  padding: .5em 1em;

  &__value {
    color: inherit;
    font-weight: bold;
  }

  .NavbarLink__image {
    height: 2.2em;
    margin-left: .3em;
    width: 2.2em;
  }
}

.NavbarLink__image-wrapper + .OrganizationNameNavbar__value {
  margin-left: .4em;
}
