.OrganizationNameNavbar {
  align-items: center;
  display: flex;
  padding: .5em 1em .5em 0;

  &__value {
    color: inherit;
    font-weight: bold;
    margin-left: .4em;
  }

  .NavbarLink__image {
    height: 2.2em;
    margin-left: .3em;
    width: 2.2em;
  }
}
