@import '../shared/config';

.MarkdownFixedPreview {
  flex-shrink: 100;
  overflow: hidden;
  position: relative;
}

.MarkdownFixedPreview__footer {
  bottom: 0;
  height: 2em;
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom, color('transparent', 'transparent') 0%, color('white') 70%, color('white') 100%);
}
