@import '../shared/config';

.BottomBar {
  // The ProgressBar's height depends on this height, so adjust that one too.
  align-items: center;
  background-color: color('white');
  bottom: 0;
  display: none;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

@include small-only {
  .BottomBar {
    display: flex;
  }
}

.BottomBar--white-text {
  .BottomBarButton {
    a {
      color: color('white');
    }

    &:hover {
      background-color: color('transparent', 'x-light');
    }

    &:active {
      background-color: color('transparent', 'light');
    }
  }
}
