@import '../shared/config';

.BoxActions {
  border-top: 1px solid color('grey', 'x-light');
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > * {
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}
