@import '../../components/shared/config';

.OpinionBubble {
  background-color: color('white');
  border-radius: 999px;
  display: flex;
  height: 25px;
  margin-bottom: 5px;
  margin-right: 5px;
  overflow: hidden;
  text-indent: -999em;
  width: 25px;
}

.OpinionBubble__image {
  display: block;
  height: 100%;
  width: 100%;
}
