@import '../../components/shared/config';

.Opinion--icon {
  position: absolute;
  top: -.6em;
  left: -.6em;
  z-index: 1;
  border-radius: 100%;
  padding: .5em;
  width: 2em;
  height: 2em;
  color: color('white');
}

.Opinion--icon-expired {
  opacity: .4;
}

.Opinion--icon-pro {
  background-color: color('green', 'base');
}

.Opinion--icon-neutral {
  background-color: color('grey', 'base');
}

.Opinion--icon-con {
  background-color: color('brown', 'base');
}
