@import "../shared/config.scss";

.Box {
  margin: 20px 0;
  background-color: $white;
  box-shadow: $box-shadow;
  // border: 1px solid $border-color;
  border-radius: $border-radius-base;
  // This overflow also cuts off children, such as dropdown menu's and hover items.
  // overflow: hidden;

  @include large() {
    margin: $margin-base;
  }
}

.Box__content {
  padding: $padding-base;
}

.Box__actions {
  border-top: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px -20px -10px -20px;

  > *:first-child {
    border-bottom-left-radius: $border-radius-base;
  }

  > *:last-child {
    border-bottom-right-radius: $border-radius-base;
  }
}
