@import '../shared/config';

.Box {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  margin: 20px 0;

  @include large {
    margin: $margin-base;
  }
}

.Box__content {
  padding: $padding-base;
}

.Box__actions {
  border-top: 1px solid color('grey', 'x-light');
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px -20px -10px;

  & > * {
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}
