@import '../shared/config';

.Box {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  margin: 20px 0;

  @include large {
    margin: $margin-base;
  }
}

.Box__content {
  padding: $padding-base;
}

.Box__contentPreWrapped {
  white-space: pre-wrap;
}
