@import '../../components/shared/config';

.SelectItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0 2px;
}

.Field__input--select {
  .SelectItem {
    background-color: color('white');
  }
}
