@import '../../components/shared/config';

@keyframes highlight {
  0% {
    box-shadow: none;
  }

  50% {
    animation-timing-function: ease-in;
    box-shadow: 0 0 1em color('green', 'light');
  }

  100% {
    animation-timing-function: ease-out;
    box-shadow: none;
  }
}

.Card {
  background-color: color('white');
  border: $grey-border;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  margin-bottom: unit('medium');

  &:empty {
    border: 0;
  }

  &--fixed {
    height: 16em;
    margin: 0;
    max-height: 16em;
    min-height: 16em;
    width: 100%;

    // Displaying clickable items directly in card
    > a {
      display: flex;
      // [AOD-179] Stretch to fill parent
      flex: 1 1;
      flex-direction: column;
      overflow: hidden;
    }

    & .CardContent {
      // Prevents shrinking detailsbar
      flex-shrink: 1;
      // [AOD-174][AOD-179] Hides overflowing text, should not flex due to rendering in Chrome
      overflow: hidden;
      width: 100%;
    }

    &:hover {
      border: $grey-border-intense;
    }
  }

  &--fill {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  &--warn {
    border: 2px solid color('red', 'dark');
  }
}

.Card,
.CardMicroRow {
  &--shine {
    animation: shine 2s 1;
    animation-delay: .3s;
    z-index: 1;
  }
}

@keyframes shine {
  0% {
    box-shadow: $box-shadow--transparent;
  }

  40% {
    box-shadow: $box-shadow--crazy;
  }

  60% {
    box-shadow: $box-shadow--crazy;
  }

  100% {
    box-shadow: $box-shadow--transparent;
  }
}

.CardDivider {
  align-items: center;
  display: flex;
  height: 2px;
  justify-content: center;
  width: 100%;
}

.CardContent {
  display: flex;
  flex-direction: column;
  padding: units('small', 'large');
  padding-bottom: 0;
  position: relative;
  word-break: break-word;

  &--align-end {
    align-self: flex-end;
  }

  &--centered {
    text-align: center;

    .Heading {
      width: 100%;
    }
  }

  &--end-spacing {
    padding-bottom: unit('small');
  }

  &--no-start-spacing {
    padding-top: 0;
  }

  p {
    a {
      font-weight: normal;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.CardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--no-spacing {
    margin-top: 0;
  }

  &--align-right {
    justify-content: flex-end;
  }

  & > * {
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

.CardMicroRow {
  font-size: .9em;
  padding: .3rem 1.3rem;

  .Link {
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}

.CardRow {
  position: relative;

  &--border-top {
    border-top: $grey-border;

    .Card > &:first-child {
      border-top: 0;
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .CardRow {
    border-left: solid 8px color('grey', 'x-light');
  }

  &--backdrop {
    background-color: color('grey', 'xx-light');
  }
}

.CardHeader {
  display: flex;
  margin-bottom: .5rem;
  padding-left: unit('large');
  padding-right: unit('large');

  .Card & {
    padding-left: 0;
    margin-right: -.7rem;
  }

  &--header {
    flex: 1;

    .Heading {
      margin-bottom: 0;
    }
  }
}

.CardFloat {
  align-items: center;
  display: flex;
}
