@import '../../components/shared/config';

@keyframes highlight {
  0% {
    box-shadow: none;
  }

  50% {
    animation-timing-function: ease-in;
    box-shadow: 0 0 1em color('green', 'light');
  }

  100% {
    animation-timing-function: ease-out;
    box-shadow: none;
  }
}

.Card {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  margin: units('medium');

  &--fixed {
    display: inline-flex;
    flex-direction: column;
    height: 16em;
    margin: $grid-margin;
    max-height: 16em;
    min-height: 16em;
    width: calc(33.3% - #{2* $grid-margin});

    // Displaying clickable items directly in card
    > a {
      display: flex;
      // [AOD-179] Stretch to fill parent
      flex: 1 1;
      flex-direction: column;
      overflow: hidden;
    }

    & .CardContent {
      // Prevents shrinking detailsbar
      flex-shrink: 1;
      // [AOD-174][AOD-179] Hides overflowing text, should not flex due to rendering in Chrome
      overflow: hidden;
    }

    @include small-only {
      width: calc(50% - #{2* $grid-margin});
    }

    @include smallest-only {
      width: 100%;
    }
  }

  &--fill {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  &--warn {
    border: 2px solid color('red', 'dark');
  }
}

.Card,
.CardMicroRow {
  &--shine {
    animation: shine 2s 1;
    animation-delay: .3s;
    z-index: 1;
  }
}

@keyframes shine {
  0% {
    box-shadow: $box-shadow--transparent;
  }

  40% {
    box-shadow: $box-shadow--crazy;
  }

  60% {
    box-shadow: $box-shadow--crazy;
  }

  100% {
    box-shadow: $box-shadow--transparent;
  }
}

.CardDivider {
  align-items: center;
  display: flex;
  height: 1px;
  justify-content: center;
  width: 100%;
}

.CardContent {
  display: flex;
  flex-direction: column;
  padding: units('small', 'large');
  padding-bottom: 0;
  position: relative;

  &--align-end {
    align-self: flex-end;
  }

  &--end-spacing {
    padding-bottom: unit('small');
  }

  &--no-start-spacing {
    padding-top: 0;
  }
}

.CardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--no-spacing {
    margin-top: 0;
  }

  &--align-right {
    justify-content: flex-end;
  }

  & > * {
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

.CardHover {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
}

.CardLink {
  color: color('blue', 'power');
}

.CardList {
  display: flex;

  &.CardList--column {
    flex-direction: column;
  }
}

.CardMicroRow {
  font-size: .9em;
  padding: .3rem 1.3rem;
}

.CardRow {
  border-bottom: $grey-border;
  border-top: $grey-border;
  position: relative;

  + .CardRow {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .CardRow {
    border-left: solid 8px color('grey', 'x-light');
  }

  &--backdrop {
    background-color: color('grey', 'xx-light');
  }
}

.CardRow--show-arrow {
  &::after {
    border-color: transparent transparent transparent color('blue');
    border-style: solid;
    border-width: 5px 0 5px 10px;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    transition: transform .2s;
    width: 0;
  }

  &:hover {
    &::after {
      transform: translate(6px, 0);
    }
  }
}

.CardHeader {
  display: flex;
  margin-bottom: .5rem;
  padding-left: unit('large');
  padding-right: unit('large');

  .Card & {
    margin-right: -.7rem;
  }

  &--header {
    flex: 1;

    .Heading {
      margin-bottom: 0;
    }
  }
}

.CardFloat {
  align-items: center;
  display: flex;
}
