@import '../../components/shared/config';

.AttributeList {
  margin-bottom: .6rem;

  a {
    font-weight: normal;
    text-decoration: underline;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  label {
    color: color('grey', 'mid-dark');
  }

  td {
    padding: .3em 0;
  }

  th {
    font-weight: 600;
    text-align: left;
    color: color('grey', 'mid-dark');
    padding-right: 1rem;
  }

  &:not(&--full-label) {
    th {
      width: 30%;
    }
  }
}
