@import '../shared/config';

.ProfileListItem {
  overflow: hidden;
  padding: units('small', 'small');
  text-align: center;
  width: 9em;

  &__imagewrapper {
    align-items: center;
    background-color: color('white');
    border: solid 1px color('grey', 'x-light');
    border-radius: 999px;
    display: flex;
    height: 5em;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    width: 5em;
  }

  &__link {
    color: color('grey', 'mid-light');
  }

  &__image {
    width: 100%;
  }

  &__party {
    color: color('grey', 'base');
  }
}
