@import '../shared/config';

.LabelValueBar {
  display: flex;

  &:hover .LabelValueBar__bar {
    background-color: color('pink', 'x-light');
  }
}

.LabelValueBar__value {
  color: color('blue');
  font-size: font-size('medium');
  text-align: right;
  flex: 1;
  margin-left: auto;
  z-index: 1;
}

.LabelValueBar__label {
  color: color('blue');
  z-index: 1;
}

.LabelValueBar__bar {
  transition: background-color .1s;
  position: absolute;
  background-color: color('grey', 'xx-light');
  border-right: solid 1px color('grey', 'x-light');
  left: 0;
  top: 0;
  bottom: 0;
}
