@import '../shared/config';

.LabelValueBar {
  display: flex;

  &:hover {
    .LabelValueBar__bar {
      background-color: color('pink', 'x-light');
    }
  }
}

.LabelValueBar__value {
  color: color('blue');
  flex: 1;
  font-size: font-size('medium');
  margin-left: auto;
  text-align: right;
  z-index: 1;
}

.LabelValueBar__label {
  color: color('blue');
  z-index: 1;
}

.LabelValueBar__bar {
  background-color: color('grey', 'xx-light');
  border-right: solid 1px color('grey', 'x-light');
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color .1s;
}
