@import "../shared/config.scss";

.ProfileCard {
  background: $white;
  padding: $padding-small;

  &__container {
    max-width: $page-width-default;
    min-height: 190px;
    margin: 0 auto;

    @include small-only() {
      padding: 0 10px;
      box-sizing: border-box;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__title {
    flex-grow: 1;
  }

  &__image {
    width: 5em;
    height: 5em;
    background-size: cover;
    border-radius: 100%;
    border: 1px solid $g1;

    @include large() {
      width: 6em;
      height: 6em;
    }
  }

  &__foot {
    border-top: 1px solid $g1;
    margin-top: 5px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include large() {
      flex-direction: row;
    }
  }

  &__stat {
    display: inline-block;
    color: $g2;
    margin-right: 2em;
  }

  &__statValue {
    color: $g5;
    margin-left: .5em;
  }
}

.ProfileCard--full {
  padding: 40px 0;
}
