@import '../shared/config';

.SkipNavigation {
  position: fixed;
  z-index: $zindex-11;
}

.SkipNavigation__link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  width: 1px;
  will-change: transform;
  position: fixed;
  top: -100px;

  &:focus {
    top: 0;
    clip: auto;
    color: color('white');
    font-weight: bold;
    height: auto;
    line-height: 3em;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 100%;
  }
}
