@import '../shared/config';

.BreadcrumbsBar {
  margin: auto;
  max-width: 70rem;
}

.Breadcrumb {
  color: color('grey');
  display: inline-block;
  font-size: .85em;
  line-height: 2rem;
  -ms-flex: 0 100000 auto;
  -ms-flex-align: center;
  padding-left: .5rem;
  padding-right: .5rem;
  white-space: nowrap;

  .Breadcrumb__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Heading {
    font-size: 1em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .NavbarLink__image {
    display: inline-block;
    margin-right: .3rem;
  }
}
