@import '../shared/config';

.CoverImage {
  &__wrapper {
    height: 19em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .Card & {
      height: 7em;
      position: relative;
      width: 100%;
      overflow: hidden;
      border-top-right-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
    }

    .Card--fixed & {
      display: flex;
      height: auto;
      flex: 1;
    }
  }

  &__child {
    background-size: cover;
    filter: blur(15px);
    height: 100%;
    opacity: .3;
    transform: scale(1.2);
    width: 100%;

    .Card & {
      filter: none;
      opacity: 1;
      transform: none;
    }
  }
}
