@import '../shared/config';

.CoverImage {
  &__wrapper {
    height: 19em;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .Page > & {
      margin-top: - unit('medium');
    }

    .Card & {
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      height: 7em;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .Card--fixed & {
      display: flex;
      flex: 1;
      height: auto;
    }

    .CardWide & {
      position: relative;
    }
  }

  &__child {
    background-size: cover;
    filter: blur(15px);
    height: 100%;
    opacity: .3;
    padding-top: unit('medium');
    transform: scale(1.2);
    width: 100%;

    .Card &,
    .CardWide & {
      filter: none;
      opacity: 1;
      transform: none;
    }
  }
}
