@import '../shared/config';

.Collapsible__hidden-part {
  display: none;
  pointer-events: none;

  &.Collapsible__hidden-part--visible {
    display: block;
  }
}

.Collapsible__trigger {
  cursor: pointer;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.Collapsible--preview {
  .ReactCollapse--collapse {
    min-height: 100px;
  }
}
