@import '../shared/config';

.Collapsible__hidden-part {
  display: none;
  pointer-events: none;

  &.Collapsible__hidden-part--visible {
    display: block;
  }
}

.Collapsible__trigger {
  display: block;
  background: none;
  border: none;
  width: 100%;
  position: relative;
  cursor: pointer;
}
