@import '../shared/config';

.EventItem {
  margin-top: 1em;
  position: relative;
}

.EventItem__index {
  color: color('grey');
  font-size: 1em;
  font-weight: bold;
  left: -.9em;
  position: absolute;
  top: .1em;
  z-index: 2;
}
