@import '../shared/config';

.DetailType {
  .Detail__icon {
    background-color: color('grey');
    color: color('white');
    font-size: font-size('small');
    height: unit('large');
    margin-right: .4em;
    width: unit('large');
  }
}

.DetailType--motion {
  .Detail__icon {
    background-color: color('blue');
  }
}

.DetailType--question {
  .Detail__icon {
    background-color: color('brown');
  }
}
