@import "../shared/config.scss";
@import "../detail/detail.scss";

.detailType {
  @extend .detail;
}

.detailType__text {
  @extend .detail__text;
}

.detailType__icon {
  @extend .detail__icon;
  color: white;
}

.detailType--motion {
 .detailType__icon {
   background-color: $motion;
 }
}

.detailType--question {
  .detailType__icon {
    background-color: $question;
  }
}
