@import "../shared/config.scss";
@import "../detail/detail.scss";

.detailType .detail__icon {
  color: white;
  font-size: .8em;
  margin-right: .4em;
}

.detailType--motion {
 .detail__icon {
   background-color: $motion;
 }
}

.detailType--question {
  .detail__icon {
    background-color: $question;
  }
}
