@import '../shared/config';

.OrgSwitcher {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.OrgSwitcher__name {
  color: color('white');
  font-weight: bold;
}

.OrgSwitcher__image {
  border-radius: 999px;
  height: 2em;
  margin-right: 1em;
  width: 2em;
}
