@import '../shared/config';

@keyframes highlight {
  0% {
    box-shadow: none;
  }

  50% {
    animation-timing-function: ease-in;
    box-shadow: 0 0 1em color('green', 'light');
  }

  100% {
    animation-timing-function: ease-out;
    box-shadow: none;
  }
}

.Card {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  margin: units('medium');

  &--fixed {
    width: 22em;
    min-width: 22em;
    max-width: 22em;
    min-height: 16em;
    max-height: 16em;
    height: 16em;
    margin: $grid-margin;
    display: inline-flex;
    flex-direction: column;

    // Displaying clickable items directly in card
    > a {
      display: flex;
      // [AOD-179] Stretch to fill parent
      flex: 1;
    }

    & .CardContent {
      // [AOD-174][AOD-179] Hides overflowing text, should not flex due to rendering in Chrome
      overflow: hidden;
    }

    @include smallest-only {
      width: 100%;
    }
  }

  &--shine {
    animation: highlight 1s 1;
  }
}

.CardDivider {
  align-items: center;
  display: flex;
  height: 1px;
  justify-content: center;
  width: 100%;
}

.CardContent {
  display: flex;
  flex-direction: column;
  padding: units('small', 'large');
  padding-bottom: 0;

  &--align-end {
    align-self: flex-end;
  }
}

.CardActions {
  border-top: 1px solid color('grey', 'x-light');
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--no-spacing {
    margin-top: 0;
  }

  & > * {
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

.CardRow {
  border-bottom: solid 1px color('grey', 'x-light');
  border-top: solid 1px color('grey', 'x-light');
  position: relative;

  + .CardRow {
    border-top: 0;
  }

  .CardRow {
    border-left: solid 8px color('grey', 'x-light');
  }
}

.CardRow--show-arrow {
  &::after {
    border-color: transparent transparent transparent color('blue');
    border-style: solid;
    border-width: 5px 0 5px 10px;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    transition: transform .2s;
    width: 0;
  }

  &:hover {
    &::after {
      transform: translate(6px, 0);
    }
  }
}

.CardMenuFloater {
  display: flex;

  &--header {
    flex: 1;
  }

  &--children {
    align-items: start;
    display: flex;
  }
}
