@import '../shared/config';

.Card {
  background-color: color('white');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  margin: units('medium');
}

.CardHeader {
  padding: units('small', 'large');

  &--no-spacing {
    padding-bottom: 0;
  }
}

.CardContent {
  padding: units('small', 'large');

  &--no-spacing {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.CardActions {
  border-top: 1px solid color('grey', 'x-light');
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--no-spacing {
    margin-top: 0;
  }

  & > * {
    &:first-child {
      border-bottom-left-radius: $border-radius-base;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

.CardRow {
  border-bottom: solid 1px color('grey', 'x-light');
  position: relative;
}

.CardRow--show-arrow {
  &::after {
    border-color: transparent transparent transparent color('blue');
    border-style: solid;
    border-width: 5px 0 5px 10px;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    transition: transform .2s;
    width: 0;
  }

  &:hover {
    &::after {
      transform: translate(6px, 0);
    }
  }
}
