@import '../shared/config';

.NavBarContent {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  &__logo {
    align-self: center;
    color: color('white');

    path,
    rect {
      fill: color('white');
    }
  }
}

.NavBarContent__switcher {
  align-items: stretch;
  display: flex;
  .Dropdown {
    display: flex;
    padding-left: 1em;
    padding-right: .5em;
    .Dropdown__trigger {
      align-items: center;
      display: flex;
    }
  }
}

.NavBarContent__top {
  flex: 1;
}

.NavBarContent__center-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.NavBarContent--white-text {
  .SideBarLink {
    a {
      color: color('white');
    }
  }
}
