.Case {
  position: relative;

  .Card--fixed {
    max-height: 14em;
    min-height: 14em;
    margin-left: 0;
    max-width: 25em;
  }

  &--essence {
    display: inline-block;
    position: absolute;
    top: 1em;
    width: 50%;
  }
}
