@import '../../components/shared/config';

$cocreate: #3d80a7;
$newpro: #7cc07e;
$newcon: #c66060;

.ProcessStep {
  display: flex;
  flex-wrap: wrap;

  &--arrow {
    flex: 1;
    flex-basis: 23em;
    max-width: 100%;
    min-width: 23em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-top: 2em;
  }

  &--box-icons {
    list-style-type: none;
    padding-left: 0;

    span {
      &.fa {
        font-size: .8em;
        line-height: 1em;
        position: absolute;
      }

      &.icon-left {
        margin-left: 1em;
      }
    }

    .list-item {
      display: block;
      margin-left: 1.3em;
    }
  }

  &--example {
    flex: 1;
    flex-basis: 23em;
    max-width: 100%;
    min-width: 23em;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  &--feature-list {
    margin-top: 1.5em;
  }

  &--feature {
    margin-left: 1.4em;
    margin-top: 1em;
    position: relative;

    h3 {
      font-size: 1em;
      line-height: 1em;
    }

    .fa {
      margin-right: .5em;
      position: absolute;
      right: 100%;
    }
  }

  &--filler-bar {
    background-color: color('grey', 'light');
    border-radius: 6px;
    display: block;
    height: .6em;
    margin-bottom: .7em;
    width: 90%;
  }

  &--two-icons {
    .fa {
      font-size: .8em;

      &:first-child {
        margin-right: 1.5em;
      }

      &:last-child {
        margin-left: 1.5em;
      }
    }
  }

  .detail {
    align-items: center;
    display: inline-flex;
    height: 1.3em;
    margin-bottom: .3em;
    margin-right: .8em;
  }

  .detail__icon {
    align-items: center;
    border-radius: 1em;
    display: flex;
    height: 1.4em;
    justify-content: center;
    margin-right: .3em;
    width: 1.4em;
  }

  .detail--decision--approved {
    .fa {
      color: color('green');
    }
  }

  .landing__detail-decision {
    bottom: .3em;
    left: -.1em;
    position: relative;
  }

  .detail__text {
    color: color('grey');
    font-size: .8em;
  }

  .landing-motion-bg {
    background-color: $cocreate;
  }

  .landing-pro-t {
    color: $newpro;
  }

  .landing-pro-bg {
    background-color: $newpro;
  }

  .landing-con-t {
    color: $newcon;
  }

  .landing-con-bg {
    background-color: $newcon;
  }
}
