@import '../shared/config';

.Tag {
  background-color: color('grey', 'xx-light');
  border: solid 1px color('grey', 'x-light');
  border-radius: $border-radius-base;
  color: color('grey', 'mid-dark');
  display: inline-flex;
  margin: .5em;
  transition: background-color .1s;

  &:hover {
    background-color: color('grey', 'x-light');
    color: color('grey', 'dark');
  }
}

.Tag__content {
  padding: 4px 6px;

  &--suffix {
    background-color: color('white');
  }
}
