@import '../../components/shared/config';

.TableHead {
  color: color('grey', 'mid-dark');

  button {
    cursor: pointer;
  }

  tr > th {
    background-color: color('grey', 'xx-light');

    &:first-child {
      border-top-left-radius: $border-radius-base;
    }

    &:last-child {
      border-top-right-radius: $border-radius-base;
    }
  }
}
