@import '../shared/config';

.ArgumentListItem {
  margin-bottom: .5em;

  &__icon {
    line-height: 1.5em;
    margin-right: .5em;
  }

  &__wrapper {
    display: flex;
  }
}

.ArgumentListItem--pro {
  .ArgumentListItem__icon {
    color: color('green');
  }
}

.ArgumentListItem--con {
  .ArgumentListItem__icon {
    color: color('brown');
  }
}
