@import '../shared/config';

.ArgumentListItem {
  margin-bottom: .5em;
}

.ArgumentListItem__icon {
  line-height: 1.5em;
  margin-right: .5em;
}

.ArgumentListItem__wrapper {
  display: flex;
}

.ArgumentListItem--pro {
  .ArgumentListItem__icon {
    color: $pro;
  }
}

.ArgumentListItem--con {
  .ArgumentListItem__icon {
    color: $con;
  }
}
