@import '../shared/config';

.Snackbar {
  background-color: color('grey', 'mid-dark');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow--intense;
  display: flex;
  position: relative;
  z-index: z(notification);

  &__text {
    color: color('white');
    flex-grow: 1;
    padding: unit('small');
  }

  &--error {
    border-color: color('brown');
    color: color('brown');
  }

  &__item {
    max-width: 30rem;
    position: absolute;
    right: 1rem;
  }

  &__progress-bar {
    background-color: color('red', 'light');
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    right: 100%;
    will-change: width;
  }
}
