@import '../shared/config';

.Snackbar {
  background-color: color('grey', 'mid-dark');
  border-radius: $border-radius-base;
  box-shadow: $box-shadow--intense;
  display: flex;
  z-index: z(notification);

  &__pretext {
    font-size: font-size('x-large');
    font-weight: bold;
  }

  &__text {
    color: color('white');
    flex-grow: 1;
    padding: unit('small');
  }

  &--error {
    border-color: color('brown');
    color: color('brown');
  }

  &__item {
    max-width: 30rem;
    position: absolute;
    right: 1rem;
  }
}
