@import '../../components/shared/config';

$margin-left: 1rem;

.Collection {
  @for $i from 0 through 10 {
    &__Depth-#{$i} {
      margin-left: $margin-left;
      position: relative;

      &::before {
        background-color: color('grey', 'x-light');
        bottom: 0;
        content: '';
        display: block;
        left: -$margin-left;
        position: absolute;
        top: 0;
        width: .3rem;
      }
    }
  }

  .pagination-wrapper {
    margin-bottom: .75em;
  }
}
