@import '../../components/shared/config';

.TabBar {
  background-color: color('white');
  display: flex;
  flex-direction: row;

  .VerticalScroller__scroll > div {
    display: inline-block;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
