@import '../../components/shared/config';

.TabBar {
  background-color: color('white');
  @include custom-prop(--vertical-scroller-background, #{color('white')});
  display: flex;
  flex-direction: row;

  .VerticalScroller__scroll > div {
    display: inline-block;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
