@import '../../components/shared/config';

.NavBarContent {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  transition: .3s background-color;

  &__logo {
    align-self: center;
    color: color('white');

    & .NavBarContent--dark-text {
      color: color('grey', 'dark');
    }

    path,
    rect {
      fill: color('white');

      & .NavBarContent--dark-text {
        color: color('grey', 'dark');
      }
    }
  }
}

.NavBarContent__top {
  flex: 1;
}

.NavBarContent__center-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.NavBarContent--white-text {
  a,
  span,
  div {
    color: color('white');
    transition: .3s color;
  }
}

.NavBarContent--dark-text {
  a,
  span,
  div {
    color: color('grey', 'dark');
    transition: .3s color;
  }
}
