@import '../shared/config';

.Columns {
  @include large {
    display: flex;
    margin-left: -1em;
    margin-right: -1em;

    &--flexGrow > .Column {
      flex-grow: 1;
      margin: 0 1em;
      width: 100%; // this makes sure each column has equal width
    }
  }
  align-items: flex-start;
  box-sizing: border-box;
}

.Column {
  box-sizing: border-box;
}

@each $size, $margin in $sizes-margin {
  .Columns--gutter-#{$size} {
    margin: $margin inherit;

    & > .Column {
      margin-left: $margin;
      margin-right: $margin;
    }
  }
}
