@import "../shared/config.scss";

.cols {
  @include large() {
    display: flex;
    width: 100%;

    & > div {
      width: 50%;
      flex-grow: 1;
    }

    & > div:first-child {
      margin-right: 20px;
    }
  }
}
