@import '../shared/config';

.Columns {
  align-items: flex-start;
  box-sizing: border-box;

  @include large {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;

    &--flexGrow > .Column {
      flex-grow: 1;
      margin: units('none', 'large');
      width: 100%; // makes sure each column has equal width
    }
  }
}

.Column {
  box-sizing: border-box;
}

@each $size, $margin in $sizes-margin {
  .Columns--gutter-#{$size} {
    margin-bottom: 1rem;
    margin-left: -$margin;
    margin-right: -$margin;
    margin-top: 1rem;

    & > .Column {
      margin-left: $margin;
      margin-right: $margin;
    }
  }
}
