@import "../shared/config.scss";

//** LAYOUT
.sk-searchtools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--hide {
    display: none;
  }
}

.sk-drawer-action {
  display: inline-block;

  @include large {
    display: none;
  }
}

.sk-results {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include large {
    flex-direction: row;
  }
}

.sk-main {
  @include large {
    width: 74%;
  }
}

//** TOOLS
.sk-pagination-navigation {
  display: flex;
  justify-content: center;
}

.sk-toggle {
  display: flex;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  color: $blue;

  &-option {
    padding: .5em 1em;
    cursor: pointer;
    border-right: 1px solid $border-color;

    &:last-child {
      border: 0;
    }

    &.is-active {
      background-color: $border-color;
    }
  }
}

.sk-toggle-option {
  &.is-disabled {
    display: none;
  }
}

//** PANELS
.sk-panel {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  border-bottom: 1px solid #ddd;

  &__header {
    color: $dark;
    margin-bottom: 5px;
    font-size: $font-size-h5;
    font-weight: 600;
    text-transform: uppercase;

    &.is-collapsable  {
      cursor: pointer;
      user-select: none;
      padding-left: 20px;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        left: 2px;
        @include sk-arrow-down(5px);
      }

      &.is-collapsed:after {
        @include sk-arrow-right(5px);
        margin-top: -5px;
        left: 3px;
      }
    }
  }

  &__content {
    &.is-collapsed  {
      display:none;
    }
  }

  &.is-disabled  {
    display:none;
  }

  @include large {
    padding: 0;
    margin-bottom: 1.5em;
    border: none;
  }
}

//** ACTIONS
.sk-refinement-list__view-more-action {
  font-size: $font-size-h6;
  color: $grey;
  margin: 5px 0;
  cursor: pointer;
  transition: .2s color;

  &:hover {
    color: $dark;
  }
}

//** CHECKBOX
.sk-item-list-option {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &__checkbox {
    display:none;
  }

  &__count {
    font-size: 11px;
    color: $grey;
  }

  &__text {
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    transition: .2s color;

    &:hover {
      color: $dark;
    }

    &::before {
      transition: .2s all;
      content: ' ';
      width: 8px;
      height: 8px;
      display: block;
      border: 3px solid #B5B5B5;
      position: absolute;
      left: 0;
      top: 0.25em;
    }
  }
}

.sk-item-list__item.is-active .sk-item-list-option__text::before {
  border-color: #737373;
  background-color: #737373;
}
