$focus-red: #f00;

.HoverHelper--show-borders {
  & [resource],
  & [href] {
    box-shadow: 0 0 0 1px $focus-red;
    // sass-lint:disable no-important
    pointer-events: all !important;
    transition: box-shadow 50ms ease-in-out;

    &:hover {
      box-shadow: 0 0 0 3px $focus-red;
      z-index: 1;
    }

    &:active {
      box-shadow: 0 0 0 4px $focus-red;
      z-index: 1;
    }
  }

  & *:not([resource]) {
    pointer-events: none;
  }

  & [href] {
    pointer-events: none;
  }
}
