@import '../../components/shared/config';

// LAYOUT
.sk-searchtools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--hide {
    display: none;
  }
}

.sk-drawer-action {
  @include large {
    display: none;
  }
  display: inline-block;
}

.sk-results {
  @include large {
    flex-direction: row;
  }
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sk-main {
  @include large {
    width: 74%;
  }
}

// TOOLS
.sk-pagination-navigation {
  display: flex;
  justify-content: center;
}

.sk-toggle {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  color: $blue;
  display: flex;

  &-option {
    border-right: 1px solid $border-color;
    cursor: pointer;
    padding: .5em 1em;

    &:last-child {
      border: 0;
    }

    &.is-active {
      background-color: $border-color;
    }
  }
}

.sk-toggle-option {
  &.is-disabled {
    display: none;
  }
}

//** PANELS
.sk-panel {
  @include large {
    border: 0;
    margin-bottom: 1.5em;
    padding: 0;
  }
  border-bottom: 1px solid $g3;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;

  &__content {
    &.is-collapsed  {
      display: none;
    }
  }

  &.is-disabled  {
    display: none;
  }
}

.sk-panel__header {
  color: $dark;
  font-size: $font-size-h5;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;

  &.is-collapsable  {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    user-select: none;

    &::after {
      @include sk-arrow-down(5px);
      content: '';
      display: block;
      left: 2px;
      margin-top: -3px;
      position: absolute;
      top: 50%;
    }

    &.is-collapsed {
      &::after {
        @include sk-arrow-right(5px);
        left: 3px;
        margin-top: -5px;
      }
    }
  }
}

// ACTIONS
.sk-refinement-list__view-more-action {
  color: $grey;
  cursor: pointer;
  font-size: $font-size-h6;
  margin: 5px 0;
  transition: .2s color;

  &:hover {
    color: $dark;
  }
}

//** CHECKBOX
.sk-item-list-option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &__checkbox {
    display: none;
  }

  &__count {
    color: $grey;
    font-size: 11px;
  }

  &__text {
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    transition: .2s color;

    &:hover {
      color: $dark;
    }

    &::before {
      border: 3px solid $g3;
      content: ' ';
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      top: .25em;
      transition: .2s border-color, background-color;
      width: 8px;
    }
  }

  &__is-active {
    .sk-item-list-option__text {
      &::before {
        background-color: $g2a;
        border-color: $g2a;
      }
    }
  }
}
