@import '../../components/shared/config';
@import '../../components/shared/searchkit';

.Search {
  &__search-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;

    &--hide {
      display: none;
    }
  }

  &__drawer-action {
    display: inline-block;
  }

  &__results {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  @include large {
    &__main {
      width: 74%;
    }

    &__drawer-action {
      display: none;
    }

    &__results {
      flex-direction: row;
    }
  }
}
