@import '../shared/config';

.LabelValue__value {
  color: color('blue');
  font-size: font-size('xx-large');
}

.LabelValue__label {
  color: color('grey', 'mid-light');
}

a {
  &:hover {
    .LabelValue__value {
      color: color('grey', 'dark');
    }

    .LabelValue__label {
      color: color('grey', 'mid-dark');
    }
  }
}
