@import '../shared/config';

.ProgressBar {
  background-color: color('white');
  bottom: 0;
  display: flex;
  left: 0;
  padding: units('medium', 'x-large');
  position: fixed;
  right: 0;
}

.ProgressBar__bar {
  background-color: color('blue', 'mid-light');
  bottom: 100%;
  height: unit('xx-small');
  left: 0;
  position: absolute;
  right: 0;
  transition: .4s width;
  z-index: z(progressbar);
}

.ProgressBar__bar-background {
  background-color: color('grey', 'light');
  bottom: 100%;
  height: unit('xx-small');
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.ProgressBar__completion-text {
  margin-left: auto;
}
