@import '../shared/config';

.BottomBarButton {
  flex: 1;
  max-width: 5em;

  a {
    align-items: center;
    color: color('grey', 'dark');
    display: flex;
    flex-direction: column;
    padding: .3em 0;
  }

  &:hover {
    background-color: color('transparent', 'mid-dark');

  }

  &:active {
    background-color: color('transparent', 'dark');
  }
}

.BottomBarButton--active {
  background-color: color('transparent', 'x-light');
}

.BottomBarButton__icon,
.BottomBarButton__image-wrapper {
  height: 1em;
  margin: auto;
  padding-bottom: .3em;
  text-align: center;
  width: 1em;
}

.BottomBarButton__text {
  font-size: .7em;
}

.BottomBarButton__image {
  background-size: cover;
  border: 1px solid color('grey', 'x-light');
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
}

.BottomBarButton__wrapper {
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
