@import '../../components/shared/config';

.Container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: units('none', 'small');
  position: relative;
  width: 100%;

  &--spacing-medium {
    padding: units('large', 'small');
  }

  &--spacing-large {
    @include small-only {
      max-width: map-get($container-width, 'large');
    }

    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60vh;
  }

  &--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70rem;
    padding: 2rem 0;
  }

  @include large {
    &--spacing-small {
      padding: units('small', 'none');
    }

    &--spacing-medium {
      padding: units('x-large');
    }

    &--spacing-large {
      min-height: 50vh;
    }
  }

  @each $size, $width in $container-width {
    &--size-#{$size} {
      max-width: $width;
    }
  }

  &--size-large {
    @include small-only {
      max-width: 100vw;
      overflow-x: hidden;
    }
  }
}

.ContainerHeader {
  display: flex;
  margin: 1rem 0;

  &--header {
    flex: 1;

    .Heading {
      margin-bottom: 0;
    }
  }
}

.ContainerFloat {
  align-items: center;
  display: flex;
}
