.ContainerHeader {
  display: flex;
  margin-bottom: 1rem;

  &--header {
    flex: 1;

    .Heading {
      margin-bottom: 0;
    }
  }
}

.ContainerFloat {
  align-items: center;
  display: flex;
}
