@import '../../components/shared/config';

.Container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: units('none', 'small');
  position: relative;
  width: 100%;

  &--spacing-medium {
    padding: units('large', 'small');
  }

  &--spacing-large {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60vh;

    @include small-only {
      max-width: map-get($container-width, 'large');
    }
  }

  &--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 70rem;
  }

  @include small-only {
    padding: 0;
  }

  @include large {
    &--spacing-small {
      padding: units('small', 'none');
    }

    &--spacing-medium {
      padding: units('x-large');
    }

    &--spacing-large {
      min-height: 50vh;
    }
  }

  @each $size, $width in $container-width {
    &--size-#{$size} {
      max-width: $width;
    }
  }
}
