@import '../../components/shared/config';

.Footer {
  padding: 1rem;
  margin-top: 1rem;

  img {
    max-width: 100%;
  }

  .Footer__container {
    margin: auto;
    max-width: map-get($container-width, 'large');
  }

  .fa + div {
    margin-left: .2rem;
  }

  .GridHeader {
    .Heading {
      margin-bottom: .6rem;
    }
  }
}
