@import '../shared/config';

.Progress {
  background-color: color('white');
  bottom: 0;
  display: flex;
  height: 100%;
  left: -1em;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: unit('xx-small');
}

.Progress__completed {
  background-color: color('green');
  left: 0;
  position: absolute;
  top: 0;
  transition: .4s height;
  width: 100%;
  z-index: 1;
}

.Progress__total {
  background-color: color('grey', 'light');
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
