@import "../shared/config.scss";
@import "../detail/detail.scss";

.detailProfile {
  @extend .detail;
}

.detailProfile__image {
  @extend .detail__icon;
  border-radius: 999px;
  width: $detail-height;
  height: $detail-height;
  margin-right: .4em;
}

.detailProfile__text {
  @extend .detail__text;
}
