@import "../shared/config.scss";

.navbar {
  background-color: $blue;
  color: $white;
  font-size: $font-size-h5;
  height: 3.2em;
}

.navbar__list {
  display: flex;

  @include large() {
    max-width: 660px;
    margin: 0 auto;
  }
}

.navbar__link {
  color: $white;
  padding: $padding-base;
  display: block;
  text-decoration: none;
}

.navbar__link--active {
  
}
