@import '../shared/config';
@import '../shared/searchkit';

.Navbar__item {
  color: color('white');
  display: block;
  font-size: font-size('medium');
  height: 3em;
  padding: units('none', 'small');
  transition: .2s background-color;

  &-li {
    float: left;
  }

  &-text {
    display: inline-block;
    line-height: 3em;
    margin-left: unit('x-small');
    vertical-align: top;
  }

  &-icon {
    float: none;
    line-height: 3.2em;
    padding: 0;
  }

  &-image {
    width: 100%;
  }

  &--logo {
    box-sizing: border-box;
    display: flex;
    height: 3em;
    padding: unit('x-small');
    width: 3.8em;

    svg {
      height: 100%;
      width: 100%;
    }

    path,
    rect {
      fill: color('white');
    }
  }

  &:hover {
    background-color: color('transparent', 'light');
    text-decoration: none;
  }

  &:active {
    transition: none;
  }

  @include small-only {
    &-text {
      display: none;
    }

    &-icon {
      display: inline-block;
    }
  }
}

.Navbar__links {
  float: left;
  height: 3em;
  overflow: hidden;

  &--right {
    float: right;
    margin-left: 0;
  }
}

.Navbar__container {
  display: flex;
}

.Navbar__search {
  align-self: center;
  flex: auto;
  margin: units('none', 'x-small');
}

// DARK TEXT
.Navbar--dark-text {
  .Navbar__item {
    color: color('grey', 'dark');
  }

  .Navbar__item--logo {
    path,
    rect {
      fill: color('grey', 'dark');
    }
  }
}
