@import '../shared/config';

.LinkLabel {
  .Link__active & {
    color: var(--accent-background-color);
    position: relative;

    &::after {
      background-color: var(--accent-background-color);
      bottom: -.3em;
      color: var(--accent-color);
      content: '';
      height: .3em;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
