@import '../shared/config';

.Link {
  &__bold {
    font-weight: 600;
  }

  &__default {
    align-items: baseline;
    display: inline-flex;
    white-space: pre-wrap;

    &.Link__centered {
      align-items: center;
    }
  }

  &__padded {
    display: block;
    padding: units('xx-small', 'large');
  }

  &__highlighted-darken {
    &:hover {
      background-color: color('transparent', 'x-dark');
    }
  }

  &__highlighted-lighten {
    &:hover {
      background-color: color('transparent');
    }
  }

  &__parent {
    color: color('grey', 'xx-light-foreground-small');
    display: inline-flex;
    font-weight: bold;
    margin: 0 .2em;
    transition: background-color .1s;

    &:hover {
      color: color('grey', 'dark');
    }
  }
}

.LinkLabel {
  .Link__active & {
    color: var(--accent-background-color);
    position: relative;

    &::after {
      background-color: var(--accent-background-color);
      bottom: -.3em;
      color: var(--accent-color);
      content: '';
      height: .3em;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
