@import '../../components/shared/config';

.Navbar {
  background: var(--navbar-background);
  background-clip: content-box;
  overflow: auto;
  overflow-y: hidden;
  position: relative;
  z-index: z(navbar);
}
