@import '../../components/shared/config';

.Navbar {
  background: var(--navbar-background);
  background-clip: content-box;
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
  height: $navbar-height;
  overflow: auto;
  position: relative;
  z-index: 200;
}
