@import '../../components/shared/config';

.Tab {
  color: color('grey');
  display: flex;
  padding: .6rem;

  &__icon {
    margin-right: .3rem;
  }

  &.LDLink__active {
    box-shadow: inset 0 -3px 0 color('grey', 'mid-light');
    color: color('grey', 'mid-dark');
    position: relative;
  }

  &:hover {
    color: color('grey', 'dark');
  }
}
