@import "../shared/reset.scss";
@import "../shared/config.scss";

body {
  margin: 0;
  padding: 3em 0;
  background-color: $lightergrey;
  font-size: 14px;
  line-height: $line-height-base;
  font-family: $font-family;
  color: $grey;

  @include small-only() {
    font-size: 16px;
  }
}

p {
  margin: $margin-base;
}

.page {
  position: absolute;
  width: 100%;
  box-sizing: border-box;

  &__wrapper {
    max-width: 660px;
    margin: 0 auto;
  }

}
