body {
  margin: 0;
  padding: 0;
}

.wrapper {
  composes: bgGrey from "../shared/styles/colors.css";
  height: 100%;
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  composes: txtWhite from "../shared/styles/colors.css";
  padding: 10px 20px;
  display: inline-flex;
  align-self: center;
}

:global .example-enter {
  opacity: 0.01;
}

:global .example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global .example-leave {
  opacity: 1;
}

:global .example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
