@import '../shared/config';

.Notification {
  background-color: color('white');
  border: 1px solid color('grey', 'x-light');
  border-radius: $border-radius-base;
  display: flex;
  padding: units('small', 'large');
  z-index: z(notification);

  &__pretext {
    font-size: font-size('x-large');
    font-weight: bold;
  }

  &__text {
    flex-grow: 1;
    margin: 0 .4em;
  }

  &--error {
    border-color: color('brown');
    color: color('brown');
  }

  @include large {
    max-width: 50%;
  }
}
