@import '../shared/config';

.Notification {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  bottom: 1em;
  padding: $padding-base;
  position: fixed;
  right: 1em;
  z-index: z(notification);

  &__preText {
    font-size: 1.4em;
    font-weight: bold;
  }

  &--error {
    border-color: $red;
    color: $red;
  }

  @include large {
    max-width: 50%;
  }
}
