@import '../shared/config';

.Notification {
  background-color: color('white');
  border: 1px solid color('grey', 'x-light');
  border-radius: $border-radius-base;
  bottom: 1em;
  padding: $padding-base;
  position: fixed;
  right: 1em;
  z-index: z(notification);

  &__pretext {
    font-size: font-size('x-large');
    font-weight: bold;
  }

  &--error {
    border-color: color('brown');
    color: color('brown');
  }

  @include large {
    max-width: 50%;
  }
}
