@import '../shared/config';

$votebar-parts: (
  'yes': 'green',
  'no': 'brown',
  'abstain': 'grey',
  'neutral': 'grey',
);

.VoteData__votebar {
  display: flex;
  justify-content: space-between;

  &-count {
    align-self: center;
    color: color('white');
    font-weight: bold;
    margin-left: auto;
    margin-right: .5em;
  }

  .VoteData__votesegment-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 2.6em;
    overflow: hidden;
    justify-content: space-between;
  }
}

.VoteData__votebar-part {
  border-radius: 7px;
  display: flex;
  margin-right: 10px;
  padding: .5em;

  &:last-child {
    margin-right: 0;
  }
}

@each $variant, $color in $votebar-parts {
  .VoteData__votebar-part--#{$variant} {
    background-color: color($color, 'light');

    &:hover {
      background-color: color($color);
    }
  }
}

.VoteData__opinion {
  background-color: color('white');
  border-radius: 999px;
  height: 25px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-indent: -999em;
  width: 25px;
}
