@import '../shared/config';

$votebar-parts: (
  'yes': 'green',
  'no': 'brown',
  'abstain': 'grey',
  'neutral': 'grey',
  'other': 'grey',
  'votesConCount': 'brown',
  'votesNeutralCount': 'grey',
  'votesProCount': 'green',
);

.VoteData__votebar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  &-count {
    align-self: center;
    color: color('white');
    font-weight: bold;
    margin-left: auto;
    margin-right: .5em;
  }

  &-card {
    .VoteData__votebar-part {
      border-radius: unset;
    }
  }

  .VoteData__votesegment-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 25px;
    overflow: hidden;
    width: 100%;
  }
}

.VoteData__votebar-part {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-right: 3px;
  padding: .2rem;
  transition: width 200ms ease-in-out;

  &-container {
    display: inline-flex;
    flex-wrap: wrap;
    height: 1.5rem;
    overflow: hidden;

    & > * {
      margin-right: .3rem;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

@each $variant, $color in $votebar-parts {
  .VoteData__votebar-part--#{$variant} {
    background-color: color($color, 'x-light');

    &:hover {
      background-color: color($color);
    }
  }
}

.VoteData__opinion {
  background-color: color('white');
  border-radius: 999px;
  height: 25px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-indent: -999em;
  width: 25px;
}
