.sk-select {
  position: relative;
  cursor: pointer;
  max-height: 30px;
  display: inline-block;

  &.is-disabled {
    display:none
  }

  select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: none;
    padding: 6px 10px;
    padding-right: 30px;
    outline:0;
    font-size:$sk-action-font-size;
    color: $sk-text-secondary-color;
    border: 1px solid $sk-selector-border-color;
  }

  &:after {
    content:"";
    position:absolute;
    top:50%;
    margin-top:-3px;
    right: 10px;
    @include sk-arrow-down(6px, $sk-text-secondary-color);
    pointer-events: none;
  }

}
