@import '../shared/config';

.Attachment {
  border: $grey-border;
  border-radius: $border-radius-base;
  display: flex;
  max-width: 20em;
  overflow: hidden;
  position: relative;
}

.Attachment__primary {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding-left: .4em;
  position: relative;
}

.Attachment__icon {
  color: color('grey', 'light');
  position: relative;
  z-index: 1;
}

.Attachment__text {
  color: color('grey', 'mid-dark');
  margin: 0 .6em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Attachment__inside-button {
  align-items: center;
  border-left: $grey-border;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 1.7em;
  justify-content: center;
  margin-right: auto;
  position: relative;
  width: 1.7em;
  z-index: 1;

  &:hover {
    background-color: color('grey', 'xx-light');

    .Attachment__icon {
      color: color('grey', 'xx-light-foreground-small');
    }
  }
}
