@import '../shared/config';

.Attachment {
  border: solid 1px color('grey', 'mid-dark');
  border-radius: $border-radius-base;
  display: flex;
  max-width: 20em;
  overflow: hidden;
  position: relative;

  > * {
    padding: .3em .6em;
  }
}

.Attachment__primary {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.Attachment__fill {
  background-color: color('grey', 'x-light');
  bottom: 0;
  height: 160%;
  left: 0;
  padding: 0;
  position: absolute;
  top: -40%;
  width: 0%;
  z-index: 0;
}

.Attachment__icon {
  color: color('grey', 'mid-dark');
  position: relative;
  z-index: 1;
}

.Attachment__text {
  color: color('grey', 'mid-dark');
  margin: 0 .6em;
  position: relative;
  z-index: 1;
}

.Attachment__inside-button {
  border-left: solid 1px color('grey', 'mid-dark');
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: auto;
  position: relative;
  z-index: 1;
}
