@import '../shared/config';

.Dropdown {
  position: relative;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.Dropdown__trigger {
  align-items: center;
  border-radius: 999px;
  color: color('grey', 'mid-light');
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  position: relative;
  transition: opacity .2s;
  width: 2em;

  &--opened,
  &:hover,
  &:focus {
    background-color: color('transparent', 'mid-dark');
    color: color('grey', 'dark');
  }

  &:active {
    background-color: color('transparent', 'dark');
  }
}

.Dropdown__content {
  -webkit-overflow-scrolling: touch;
  background-color: color('white');
  border-radius: $border-radius-base;
  border-top: 0;
  box-shadow: $box-shadow--intense;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  left: 0;
  margin: 0;
  max-height: 30em;
  min-width: 15em;
  overflow-y: auto;
  position: absolute;
  text-align: left;
  text-transform: none;
  top: 100%;
  will-change: transform, opacity;
  z-index: 10;

  li {
    min-width: 100%;
  }

  h3 {
    background-color: color('grey', 'base');
    color: color('white');
    font-size: 1.4em;
    margin: 0;
    padding: .4em .6em;
    text-transform: none;
  }
}

.DropdownLink {
  color: color('grey', 'mid-dark');
  display: block;
  padding: .6em .7em;
  position: relative;

  &__icon {
    padding-right: .3em;
    text-align: center;
    width: 1.1em;
  }

  &:hover,
  &:focus {
    background-color: color('grey', 'xx-light');
    color: color('grey', 'dark');
    text-decoration: none;
  }

  &:active {
    background-color: color('grey', 'x-light');
    transition: none;
  }

  .DropdownLink__image {
    border-radius: 999px;
    height: 1.5em;
    left: -.3em;
    margin: 0 0 -.6em;
    position: relative;
    top: -.2em;
  }
}

.Dropdown__content--helper {
  visibility: hidden;
}

.Dropdown--left {
  left: auto;
  right: 0;
}

.Dropdown--right {
  left: 0;
  right: auto;
}

.Dropdown--top {
  bottom: 100%;
  top: auto;
}

// Not used currently
.DropdownHeader {
  background-color: color('grey', 'x-light');
  color: color('grey', 'xx-light-foreground-small');
  display: inline-block;
  font-size: .8em;
  padding: .4em;
  padding-left: 1em;
  text-transform: uppercase;
  width: 100%;
}

.Dropdown__divider {
  border-top: solid 1px color('grey', 'light');
  display: block;
  width: 100%;
}
