@import '../shared/config';

@import '../../topologies/Navbar/Navbar';

.NavbarLink {
  -webkit-tap-highlight-color: inherit;
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 1em;
  height: 100%;
  position: relative;
  width: 100%;

  .NavbarLink__link {
    align-items: center;
    color: inherit;
    display: flex;
    flex-grow: 1;
    height: $navbar-height;

    &:hover {
      cursor: pointer;
    }
  }

  &--bold {
    .NavbarLink__label {
      font-weight: bold;
      padding-left: 2em;
    }
  }
}

.NavbarLink--active {
  &::after {
    bottom: 0;
    content: '';
    height: .3em;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.Navbar--white-text {
  .NavbarLink--active {
    &::after {
      background-color: var(--navbar-color);
    }
  }
}

.Navbar--dark-text {
  .NavbarLink--active {
    &::after {
      background-color: var(--accent-background-color);
    }
  }
}

.NavbarLink__icon {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  width: 1.5em;

  &--padded {
    padding: units('none', 'small');
  }
}

.NavbarLink__image {
  background-size: cover;
  border: 1px solid color('grey', 'light');
  border-radius: 100%;
  height: 1.5em;
  min-width: 1.5em;
  width: 1.5em;

  .Detail & {
    margin-right: .3em;
  }
}

.NavbarLink__label {
  align-items: center;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NavbarLink__count-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.NavbarLink__truncated-label,
.NavbarLink__truncated-label * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.NavbarLink__link,
.SideBarCollapsible__toggle {
  &:focus,
  &:hover {
    background-color: var(--navbar-color-hover);
  }

  &:active {
    background-color: color('transparent', 'light');
  }
}
