@import '../shared/config';

.Detail {
  align-items: center;
  display: inline-flex;
  margin-right: unit('small');
}

.Detail--link {
  &:hover {
    .Detail__text {
      color: color('grey', 'mid-dark');
    }
  }
}

.DetailStatus--fail {
  .Detail__icon {
    color: color('brown');
  }
}

.Detail__text {
  align-self: center;
  color: color('grey', 'mid-light');
  font-size: font-size('small');
  line-height: unit('large');
  min-height: unit('large');
}

.Detail__icon {
  align-items: center;
  border-radius: 100%;
  color: color('grey');
  display: flex;
  justify-content: center;
  margin-right: unit('xx-small');
  max-height: unit('large');
}

.Detail__image {
  align-items: center;
  border-radius: 100%;
  color: color('grey', 'mid-light');
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: unit('xx-small');
  max-height: unit('large');
}

.Detail--float-right {
  margin-left: auto;
}
