@import "../shared/config.scss";

.detail {
  display: inline-flex;
  align-items: center;
  margin-right: 1.2em;
  height: 1.3em;
  margin-bottom: .5em;
}

.detail__text {
  font-size: .8em;
  color: $grey;
}

.detail__icon {
  margin-right: 2px;
  width: 1.4em;
  height: 1.4em;
  display: flex;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}
