@import "../shared/config.scss";

.detail {
  display: inline-flex;
  align-items: center;
  margin-right: .8em;
  height: $detail-height;
  margin-bottom: .5em;
}

.detail__text {
  font-size: $detail-font-size;
  color: $grey;
}

.detail__icon {
  margin-right: .3em;
}
