@import "../shared/config.scss";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  height: 3em;
  background-color: $forum-color;
}

.navbar-item {
  color: white;
  display: block;
  padding: 0 0.7em;
  font-size: 1em;
  height: 3em;

  span {
    line-height: 3em;
    display: inline-block;
    vertical-align: top;
  }

  > .fa {
    line-height: 3.2em;
    float: none;
    padding: 0;
  }

  &:hover {
    background-color: $lighten2;
    text-decoration: none;
  }
}

.navbar-item:active {
  transition: none;
}

.navbar-links {
  margin-left: 1em;
  float: left;

  > li {
    float: left;
  }

  > div {
    display: inline-block;
    float: left;
  }

}

.navbar-links-right {
  float: right;
  margin-right: 1em;
  margin-left: 0;

}

.navbar-link-description {
}

.navbar-logo {
  width: 3.8em;
  height: 3em;
  display: flex;
  padding: 0.6em;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}

input[type="text"].nav-search-text {
  margin: 0;
  width: 100%;
  resize: none;
}

input[type="submit"].nav-search-button {
  width: 5em;
  display: inline;
}

.nav-container {
  margin: auto;
  position: relative;
  height: 100%;
  max-width: $page-width-fullwidth;
  display: flex;
}

.nav-search {
  width: 19em;
}

.profile-picture--navbar{
  height: 2.2em;
  width: 2.2em;
  margin: .4em;
  margin-left: 0;
  margin-right: .4em;

}

.icon-left {
  margin-left: .4em;
}

.profile-picture--navbar > a > .icon-left {
  vertical-align: top;
  margin-top: 1em;
  display: inline-block;
  margin-left: .4em;
}

.profile-name--navbar {
  padding: 1em 0;
  display: inline-block;
  float: right;
}

.navbar-below {
  position: fixed;
  top: 3em;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  > div {
    padding: 0 1em;
    margin: auto;
    max-width: 1200px;
  }

}


.navbar-item span {
  @include small-only() {
    display: none;

    &.dont-hide{
      display: inline-block;
    }

    &.fa {
      display: inline-block;
    }
  }
}


//** SEARCHBOX
.sk-search-box {
  width: 200px;
  float: right;
  background-color: white;
  margin: 10px 1em 0 0;

  @include large {
    margin: 6px 1em;
  }
}


.sk-search-box {
  flex: auto;

  form {
    display:flex;
    margin:0;
    position:relative;
  }

  &__icon {
    flex:0 10px 10px;
    margin: 6px 0 0 6px;

    &:before {
      content:"";
      @include search-icon;
      background-size: contain;
      height:18px;
      width:18px;
      display: block;
    }
    opacity:0.3;
  }

  .sk-search-box__text {
    padding:6px .5em;
    width:100%;
    flex:3;
    font-size:14px;
    border:none;
    height: initial;
    line-height: initial;

    &:focus {
      outline:0;
    }
  }

  &__action {
    height:40px;
    visibility: hidden;
  }

  &__loader {
    flex:0 20px 20px;
    align-self: flex-end;
    margin: 6px 8px;

    &.is-hidden {
      display:none;
    }
  }
}


//** SPINNING LOADER
.sk-spinning-loader {
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid #000;
  transform: translateZ(0);
  animation: spinning-loader 1.1s infinite linear;
}

.sk-spinning-loader,
.sk-spinning-loader:after {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@keyframes spinning-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
