
.Input {
  -webkit-appearance: none;
  background: inherit;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}
